﻿
@using Kendo.Mvc.UI
@model e_Card.Areas.AdministrationClinic.ViewModel.MedicalStaffVm

    @{
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    @using (Html.BeginForm("MedicalStaffHandler", "MedicalStaffAdministration", new { status = Consts.Update }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-12 toppad">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Uredi korisnika</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group" id="userUrlImage" style="display: flex; justify-content: center;">
                                @*<img alt="User photo" src="" class="img-circle img-responsive userImageDimension">*@
                            </div>

                            <div class="col-md-12 col-xs-12">
                                <label for="@Model.UrlImage">Slika profila</label>
                                @(Html.Kendo().Upload()
                                  .Name("image")
                                  .Async(a => a
                                      .Save("UploadImage", "Doctors")
                                      .AutoUpload(false)
                                  )
                                  .Events(e => e.Success("SuccessUpload"))
                                  .Messages(m => m.Select("Dodaj sliku"))
                                  .Validation(validation => validation.AllowedExtensions(new[] { ".gif", ".jpg", ".png" }))
                                  .Multiple(false)
                                )
                            </div>
                        </div>


                        <div class="col-md-8 col-lg-8">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="col-md-12 col-xs-12">
                                                <label for="@Model.Name">Ime</label>
                                                @Html.Kendo().TextBoxFor(m => m.Name).Value(Model.Name).HtmlAttributes(new { style = "width:100%" })
                                                @Html.ValidationMessageFor(m => m.Name)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12 col-xs-12">
                                                <label for="@Model.Surname">Prezime</label>
                                                @Html.Kendo().TextBoxFor(m => m.Surname).Value(Model.Surname).HtmlAttributes(new { style = "width:100%" })
                                                @Html.ValidationMessageFor(m => m.Surname)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-md-12 col-xs-12">
                                                <label for="@Model.Gender">Spol</label>
                                                @(Html.Kendo().DropDownListFor(m => m.Gender)
                                              .Name("Gender")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .Value(Model.Gender)
                                              .AutoBind(true)
                                              .BindTo(new List<SelectListItem>()
                                              {
                                                  new SelectListItem()
                                                  {
                                                      Text = "Male",
                                                      Value = "Male"
                                                  },
                                                  new SelectListItem()
                                                  {
                                                      Text = "Female",
                                                      Value = "Female"
                                                  },
                                              })
                                              .HtmlAttributes(new { style = "width: 100%", PlaceHolder = "Gender" })
                                                )
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12 col-xs-12">
                                                <label for="@Model.ClinicId">Klinika</label>
                                                @(Html.Kendo().ComboBoxFor(@m => m.ClinicId)
                                              .DataValueField("Id")
                                              .DataTextField("Name")
                                              .Filter(FilterType.StartsWith)
                                              .Value(Model.ClinicId.ToString())
                                              .DataSource(source =>
                                              {
                                                  source.Read(read =>
                                                  {
                                                      read.Action("GetAll", "Clinics", new { area = "" });
                                                  }).ServerFiltering(true);
                                              })
                                              .AutoBind(true)
                                              .HtmlAttributes(new { style = "width:100%;" })
                                                )
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="col-md-12 col-xs-12">
                                                <label for="@Model.Nationality">Nacionalnost</label>
                                                @Html.Kendo().TextBoxFor(m => m.Nationality).Value(Model.Nationality).HtmlAttributes(new { style = "width:100%" })
                                                @Html.ValidationMessageFor(m => m.Nationality)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12 col-xs-12">
                                                <label for="@Model.Profession">Specijalizacija</label>
                                                @Html.Kendo().TextBoxFor(m => m.Profession).Value(Model.Profession).HtmlAttributes(new { style = "width:100%" })
                                                @Html.ValidationMessageFor(m => m.Profession)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-md-12 col-xs-12">
                                                <label for="@Model.Address">Adresa stanovanja</label>
                                                @Html.Kendo().TextBoxFor(m => m.Address).Value(Model.Address).HtmlAttributes(new { style = "width:100%" })
                                                @Html.ValidationMessageFor(m => m.Address)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12 col-xs-12">
                                                <label for="@Model.Email">Email adresa</label>
                                                @Html.Kendo().TextBoxFor(m => m.Email).Value(Model.Email).HtmlAttributes(new { type = "Email", style = "width:100%" })
                                                @Html.ValidationMessageFor(m => m.Email)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="@Model.DepartmentId">Odjel</label>
                                            @(Html.Kendo().ComboBoxFor(@m => m.DepartmentId)
                                                  .DataValueField("Id")
                                                  .DataTextField("Name")
                                                  .Value(Model.DepartmentId.ToString())
                                                  .Filter(FilterType.StartsWith)
                                                  .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Action("GetDepartments", "Doctors", new {area = ""});
                                                      }).ServerFiltering(true);
                                                  })
                                                  .AutoBind(true)
                                                  .HtmlAttributes(new {style = "width:100%;"})
                                                  )
                                            @Html.HiddenFor(m => m.UrlImage, new {value = Model.UrlImage})
                                            @Html.HiddenFor(m => m.MedicalStaffId, new {value = Model.MedicalStaffId})
                                            @Html.HiddenFor(m => m.DateOfEmployment, new {value = Model.DateOfEmployment})
                                            @Html.HiddenFor(m => m.Birth, new {value = Model.Birth})
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    @(Html.Kendo().Button()
                      .Name("primaryTextButton")
                      .HtmlAttributes(new { type = "submit", @class = "k-primary" })
                      .Content("Uredi korisnika"))
                </div>

            </div>
        </div>

    }

    <style>
        .buttonSubmit {
            position: relative;
            float: right;
        }
    </style>

    <script>
        function SuccessUpload(data) {
            if (data.response.success) {
                $("#userUrlImage").css("background-image", 'url(/UserImages/' + data.response.name + ')');
                document.getElementById('UrlImage').value = data.response.name;
            }
        }

        $(document).ready(function () {
            $("#userUrlImage").css("background-image", 'url(/UserImages/@Model.UrlImage)');
        });
    </script>

    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="wrong-pass">
            <img src="@Url.Content("~/Images/errorIcon.png")" />
            <p>#= message #</p>
        </div>
    </script>