﻿@using e_Card.Areas.AdministrationClinic.ViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Grid<DoctorVm>()
      .Name("doctors")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name).Title(Resource.Title).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains)));
          columns.Bound(c => c.Surname).Title(Resource.Surname).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains)));
          columns.Bound(c => c.Gender).Title(Resource.Gender).Filterable(false);
          columns.Bound(c => c.Birth).Title(Resource.Birth).Filterable(false);
          columns.Bound(c => c.DateOfEmployment).Title("Datum zaposlenja").Filterable(false);
          columns.Bound(c => c.Profession).Title(Resource.Profesion);
          columns.Bound(c => c.Address).Title(Resource.Address);
          columns.Template(@<text></text>).ClientTemplate("<a class='k-button k-button-icontext' href='" + Url.Action("Update", "Doctors", new { id = "#= DoctorId #" }) + "'><span class='k-icon  k-i-edit'></span>Update</a>");
          columns.Command(c => c.Destroy().Text("Izbriši"));
      })

      //.ToolBar(toolbar => toolbar.Create().Text("Dodaj bolest"))
      .ToolBar(t =>
      {
      t.Template(@<text>
                         <a class="k-button k-button-icontext" href="@Url.Action("Create", "Doctors")"><i class="fa fa-plus"></i>@Resource.AddDoctor</a>
                      </text>);
      })
      .Editable(editable => editable.TemplateName("_EditDoctor").Mode(GridEditMode.PopUp).Window(w => w.Width(430)))
      .Pageable()
      .Sortable()
      .Scrollable()
      .Filterable()
      .HtmlAttributes(new {style = "height:550px;"})
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(30)
          .Events(events => events.Error("error_handler"))
          .Model(model => model.Id(p => p.DoctorId))
          .Create(create => create.Action("DoctorHandler", "Doctors", new {status = Consts.Create}))
          .Read(read => read.Action("EditingPopup_Read", "Doctors"))
          .Update(update => update.Action("DoctorHandler", "Doctors", new { status = Consts.Update }))
      .Destroy(update => update.Action("DoctorHandler", "Doctors", new { status = Consts.Delete }))
      ))

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

