﻿
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4 {
    margin-top: 10px !important;
}

.skin-blue .main-header .navbar {
    background-color: #3f51b5 !important;
}

.skin-blue .main-header .logo {
    background-color: #5360ab !important;
}

#example {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.dash-head {
    width: 970px;
    height: 80px;
    background-color: #222;
    position: relative;
}

.dash-head .k-rpanel-toggle {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 20px;
}

.panel-wrap {
    max-width: 968px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
}

#sidebar {
    margin: 0;
    padding: 20px 0 20px 20px;
    vertical-align: top;
}

@media (max-width: 1000px) {
     #sidebar {
         background: #fff;
         padding: 20px;
         border-left: 1px solid #e5e5e5;

         /* show sidebar in container, demo only*/
         position: absolute;
         top: 402px;
         bottom: 0;
     }

     #sidebar.k-rpanel-expanded {
         box-shadow: 0 0 10px rgba(0,0,0,.3);
     }
 }

#main-content {
    overflow: hidden;
    margin: 0;
    padding: 20px;
    min-height: 580px;
    vertical-align: top;
}

.widget {
    margin: 0 0 20px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
}

.widget div {
    padding: 10px;
    min-height: 50px;
}

.widget h3 {
    font-size: 12px;
    padding: 8px 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #e7e7e7;
}

.widget h3 span {
    float: right;
}

.widget h3 span:hover {
    cursor: pointer;
    background-color: #e7e7e7;
    border-radius: 20px;
}

/* PROFILE */
.profile-photo {
    width: 80px;
    height: 80px;
    margin: 10px auto;
    border-radius: 100px;
    border: 1px solid #e7e7e7;
    background-size: contain;
}

#profile div {
    text-align: center;
}

#profile h4 {
    width: auto;
    margin: 0 0 5px;
    font-size: 1.2em;
    color: #1f97f7;
}

#profile p {
    margin: 0 0 10px;
}

/* BLOGS & NEWS */
#blogs div,
#news div {
    padding: 0 20px 20px;
}

#teammates h4,
#blogs h4,
#news h4 {
    width: auto;
    margin: 20px 0 2px;
    font-size: 1.4em;
    color: #1f97f7;
    font-weight: normal;
}

.blog-info {
    margin: 0 0 10px;
    font-size: .9em;
    color: #787878;
}

#sidebar #blogs h4 {
    font-size: 1em;
}

#sidebar #blogs p {
    display: none;
}

#sidebar #blogs .blog-info {
    display: block;
}

#main-content #news h4 {
    font-size: 1.2em;
    line-height: 1.4em;
}

#main-content #news h4 span {
    display: block;
    float: left;
    width: 100px;
    color: #000;
    padding-right: 10px;
}

#sidebar #news h4 {
    font-size: 1em;
}

#sidebar #news h4 span {
    display: block;
    margin-bottom: 3px;
    color: #000;
}

/* TEAMMATES */
.team-mate:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

#teammates .team-mate h4 {
    font-size: 1.4em;
    font-weight: normal;
    margin-top: 12px;
}

.team-mate p {
    margin: 0;
}

.team-mate img {
    float: left;
    margin: 0 15px 0 0;
    border: 1px solid #e7e7e7;
    border-radius: 60px;
}

.k-rpanel-left, .k-rpanel-right {
    min-width: 190px !important;
}


.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.table.table-user-information div {
    padding: 0;
}

.userImageDimension {
    width: 200px;
    height: 200px;
}

.k-datepicker .k-input, .k-timepicker .k-input {
    background-color: white;
}

.k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
    background-color: white;
}

#userUrlImage {
    border-radius: 100px;
    background-image: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male-512.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    margin-left: 50%;
    left: -100px;
}

.demo-section p {
    margin: 3px 0 20px;
    line-height: 50px;
}
.demo-section .k-button {
    width: 250px;
}

.k-notification {
    border: 0;
}


/* Info template */
.k-notification-info.k-group {
    background: rgba(0%,0%,0%,.7);
    color: #fff;
}
.new-mail {
    width: 300px;
    height: 100px;
}
.new-mail h3 {
    font-size: 1em;
    padding: 32px 10px 5px;
}
.new-mail img {
    float: left;
    margin: 30px 15px 30px 30px;
}

/* Error template */
.k-notification-error.k-group {
    background: rgba(100%,0%,0%,.7);
    color: #ffffff;
    display: flex;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.wrong-pass {
    width: 300px;
    height: 100px;
}
.wrong-pass p {
    font-size: 14px;
    padding: 37px 10px 5px;
}
.wrong-pass img {
    float: left;
    margin: 30px 15px 30px 30px;
}

/* Success template */
.k-notification-upload-success.k-group {
    background: rgba(0%,60%,0%,.7) !important;
    color: #fff;
}
.upload-success {
    width: 240px;
    height: 100px;
    padding: 0 30px;
    line-height: 100px;
}
.upload-success p {
    font-size: 12px;
    padding: 37px 10px 5px;
}
.upload-success h3 {
    font-size: 15px;
    padding: 25px 10px 5px;
}
.upload-success img {
    float: left;
    margin: 25px 15px 30px 15px;
}

.editFamilyDisease {
    color: blue;
    font-size: 20px;
    float: right;
}

.editFamilyDisease:hover {
    color: #ff1f43;
    cursor: pointer;
}

#newTextFamilyDiseases {
    width: 100%;
    margin-bottom: 10px;
    height: 150px;
    text-align: left;
}

.k-edit-form-container {
    margin-left: 0px !important;
    margin-right: 30px !important;
}