﻿@using e_Card.Areas.AdministrationClinic.ViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Grid<DepartmentVm>()
      .Name("department")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name).Title(Resource.Title);
          columns.Bound(c => c.Description).Title(Resource.Description).Filterable(false);
          columns.Command(command => { command.Edit().Text("Uredi").CancelText("Odustani").UpdateText("Spremi izmjene"); command.Destroy().Text("Izbriši"); }).Width(250);
      })

      .ToolBar(toolbar => toolbar.Create().Text("Dodaj odjel"))
      .Events(e => e.Save("onSaveDepartment").Edit("onEdit"))
      .Editable(editable => editable.TemplateName("_editDepartments").Mode(GridEditMode.PopUp).Window(w => w.Width(430)))
      .Pageable()
      .Sortable()
      .Filterable()
      .Scrollable(scrollable => scrollable.Height("auto"))
      
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(30)
          .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
          .Model(model => model.Id(p => p.DepartmentId))
          .Create(create => create.Action("Create", "Departments"))
          .Read(read => read.Action("Read", "Departments"))
      .Update(update => update.Action("Update", "Departments"))
      .Destroy(update => update.Action("Destroy", "Departments"))
      ))

@Html.Hidden("statusComboBox", Consts.ComboBoxDepartment)
@Html.Hidden("departmentId")
@Html.Hidden("initialValue", 1)

<script type="text/javascript">
    function onSaveDepartment(e) {
        e.model.set("ClinicIds", $("#ClinicIds").data("kendoMultiSelect").value());
    }

    function onRequestEnd(e) {
        if (e.type != "read") {
            e.sender.read();
        }
    }

    function onEdit(e) {
       // if (e.model.isNew()) {
       //     //$("#departmentId").val(0);
       //     //$("#initialValue").val(1);
       //     //$("#ClinicIds").data("kendoMultiSelect").dataSource.read();
       //     //$("#initialValue").val(0);
       //} else {
       //    $("#departmentId").val(e.model.DepartmentId);
       //    //$("#initialValue").val(1);
       //    $("#ClinicIds").data("kendoMultiSelect").dataSource.read();
       //     //$("#initialValue").val(0);
       // }
       // console.log($("#initialValue").val());
    }

    //function aditionalInfo(e) {
    //    return {
    //        id: $("#departmentId").val(),
    //        status: $("#statusComboBox").val()
    //    }
    //}
</script>

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

