﻿@using Kendo.Mvc.UI
@model e_Card.ViewModel.CardMedicamentVm
<div class="form-horizontal container" style="padding: 15px;">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CardId, new {id="cardId"})
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.Comment">Napomena</label>
            @Html.Kendo().TextBoxFor(m => m.Comment).HtmlAttributes(new {style = "width:100%", id="kale"})
            @Html.ValidationMessageFor(m => m.Comment)
        </div>
    </div>
    <div class="form-group" id="editCardMedicamentsField">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.MedicamentId">Lijek</label>
            @(Html.Kendo().ComboBoxFor(@m => m.MedicamentId)
                  .DataValueField("Id")
                  .DataTextField("Name")
                  .Filter(FilterType.StartsWith)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("GetAllAvailable", "Medicaments").Data("additionalInfo");
                      }).ServerFiltering(true);
                  })
                  .AutoBind(false)
                  .HtmlAttributes(new {style = "width:100%;"})
                  )
            @Html.ValidationMessageFor(m => m.MedicamentId)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.DateFrom">Datum početka uzimanja lijeka</label>
            @(Html.Kendo().DatePickerFor(m => m.DateFrom)
                  .Value("")
                  .Animation(true)
                  .HtmlAttributes(new {style = "width: 100%", title = "Invalid date"}))
            @Html.ValidationMessageFor(m => m.DateFrom)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.DateTo">Datum prestanka uzimanja lijeka</label>
            @(Html.Kendo().DatePicker()
                  .Name("DateTo")
                  .Value("")
                  .Animation(true)
                  .HtmlAttributes(new {style = "width: 100%", title = "Invalid date"}))
            @Html.ValidationMessageFor(m => m.DateTo)
        </div>
    </div>
</div>