﻿@using e_Card.Helpers
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@*@model e_Card.Models.MedicalStaff*@
@{
    var user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>
        ().FindById(HttpContext.Current.User.Identity.GetUserId());
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration clinics</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
    @Scripts.Render("~/bundles/jquery")
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.common-material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.material.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/Assets/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Assets/ionicons.min.css" rel="stylesheet" />
    <!--Theme style-->
    <link href="~/Content/Assets/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/Assets/skin-blue.min.css" rel="stylesheet" />

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="~/Scripts/share-js.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src='/signalr/js'></script>
    
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/cultures/kendo.culture." + @CultureHelper.GetCurrentCulture() + ".min.js")"></script>
</head>
<body class="hold-transition skin-blue fixed">

<style>
    .k-edit-form-container .k-edit-buttons {
        width: 100%;
        padding-right: 22px;
    }
</style>
<div class="wrapper">
    @(Html.Kendo().Notification()
          .Name("notification")
          .Position(p => p.Pinned(true).Top(30).Right(30))
          .Stacking(NotificationStackingSettings.Down)
          .AutoHideAfter(3000)
          .Width(300)
          .Templates(t =>
          {
              t.Add().Type("error").ClientTemplateID("errorTemplate");
              t.Add().Type("upload-success").ClientTemplateID("successTemplate");
          })
          )
    <header class="main-header">
        <a href="@Url.Action("Index", "Home", new {area = ""})" class="logo">
            <span class="logo-mini"><b>A</b>LT</span>
            <span class="logo-lg"><b>e</b>@Resource.Card</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>@Resource.Language</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- inner menu: contains the messages -->
                                <ul class="menu">
                                    <li>
                                        <!-- start message -->
                                        <a href="@Url.Action("SetCulture", "Home", new {area = "", culture = "bs-Latn-BA"})">
                                            <div class="pull-left">
                                                <!-- User Image -->
                                                <img src="~/Content/Images/BHLan.png"/>
                                            </div>
                                            <!-- Message title and timestamp -->
                                            <h4>
                                                @Resource.Bosnian
                                            </h4>
                                        </a>
                                    </li>
                                    <li>
                                        <!-- start message -->
                                        <a href="@Url.Action("SetCulture", "Home", new {area = "", culture = "en-US"})">
                                            <div class="pull-left">
                                                <!-- User Image -->
                                                <img src="~/Content/Images/ENLan.png" alt="Language"/>
                                            </div>
                                            <!-- Message title and timestamp -->
                                            <h4>
                                                @Resource.English
                                            </h4>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                </ul>
                                <!-- /.menu -->
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @if (user.UrlImage == null)
                            {
                                <img src="~/Images/default-image.png" class="user-image" alt="User image" />
                            }
                            else
                            {
                                <img src="~/UserImages/@user.UrlImage" class="user-image" alt="User image"/>
                            }
                            
                            <span style="display: inline !important;" class="hidden-xs">@user.Name.ToUpper()</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                @if (user.UrlImage == null)
                                {
                                    <img src="~/Images/default-image.png" class="img-circle" alt="User image"/>
                                }
                                else
                                {
                                    <img src="~/UserImages/@user.UrlImage" class="img-circle" alt="User image" />
                                }
                               
                                <p>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        @user.Name <text> - Admin</text>;
                                    }
                                    @if (User.IsInRole("SuperAdmin"))
                                    {
                                        @user.Name
                                        <text> - SuperAdmin</text>;
                                    }
                                    @if (User.IsInRole("Doctor"))
                                    {
                                        @user.FullName
                                        <text> - Doktor</text>;
                                    }
                                    @if (User.IsInRole("MedicalStaff"))
                                    {
                                        @user.FullName
                                        <text> - Medicinski tehničar</text>;
                                    }
                                    @if (User.IsInRole("LaboratoryWorker"))
                                    {
                                        @user.FullName
                                        <text> - Laborant</text>;
                                    }
                                    @if (User.IsInRole("Patient"))
                                    {
                                        @user.FullName
                                        <text> - Pacijent</text>;
                                    }
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">@Resource.Profile</a>
                                </div>
                                <div class="pull-right">
                                    @if (Request.IsAuthenticated)
                                    {
                                        using (Html.BeginForm("LogOff", "Account", new {area = ""}, FormMethod.Post, new {id = "logoutForm"}))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">@Resource.Logout</a>
                                        }
                                    }
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                   @if (user.UrlImage == null)
                   {
                       <img src="~/Images/default-image.png" class="img-circle" alt="User image"/>
                   }
                   else
                   {
                       <img src="~/UserImages/@user.UrlImage" class="img-circle" alt="User image"/>
                   }
                </div>
                <div class="pull-left info">
                    <p>@user.Name</p>

                    <a href="#">
                        <i class="fa fa-circle text-success"></i>@Resource.Online</a>
                </div>
            </div>
            <ul class="sidebar-menu" data-widget="tree">
                
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="header">@Resource.Administration</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i>@Resource.Laboratory<span></span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            
                            <li><a href="@Url.Action("Index", "Laboratories", new {area = "AdministrationClinic"})">Labaratorije</a></li>
                            <li><a href="@Url.Action("Index", "LabItems", new {area = "AdministrationClinic"})">Nalazi</a></li>
                            <li><a href="@Url.Action("Index", "LaboratoryWorkers", new {area = "AdministrationClinic"})">Osoblje</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i>@Resource.Patient<span></span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "ECard", new {area = ""})">@Resource.eCard</a></li>
                            <li><a href="@Url.Action("Index", "Patients", new {area = ""})">@Resource.Patients</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i>Lijekovi<span></span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "TypeMedicaments", new {area = "AdministrationClinic"})">Tip lijeka</a></li>
                            <li><a href="@Url.Action("Index", "Medicaments", new {area = "AdministrationClinic"})">Lijekovi</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "Clinics", new {area = "AdministrationClinic"})"><i class="fa fa-link"></i> <span>@Resource.Clinics</span></a></li>
                    <li><a href="@Url.Action("Index", "Doctors", new {area = "AdministrationClinic"})"><i class="fa fa-link"></i> <span>@Resource.Doctors</span></a></li>
                    <li><a href="@Url.Action("Index", "Diseases", new {area = "AdministrationClinic"})"><i class="fa fa-link"></i> <span>@Resource.Diseases</span></a></li>
                    <li><a href="@Url.Action("Index", "Departments", new {area = "AdministrationClinic"})"><i class="fa fa-link"></i> <span>Odjeli</span></a></li>
                    <li><a href="@Url.Action("Index", "Allergies", new {area = "AdministrationClinic"})"><i class="fa fa-link"></i> <span>Alergije</span></a></li>
                    <li><a href="@Url.Action("Index", "MedicalStaffAdministration", new {area = "AdministrationClinic"})"><i class="fa fa-link"></i> <span>Medicinsko osoblje</span></a></li>
                }

                @if (Request.IsAuthenticated && User.IsInRole("MedicalStaff"))
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i>@Resource.Patient<span></span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "ECard", new {area = ""})">@Resource.eCard</a></li>
                            <li><a href="@Url.Action("Index", "Patients", new {area = ""})">@Resource.Patients</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "TaskReview", new {area = ""})"><i class="fa fa-link"></i> <span>Pristigli zahtjevi</span></a></li>
                    //<li><a href="@Url.Action("ApprovedRequests", "TaskReview", new {area = ""})"><i class="fa fa-link"></i> <span>Zakazani pregledi</span></a></li>
                    <li><a href="@Url.Action("SchedulerReview", "TaskReview", new {area = ""})"><i class="fa fa-link"></i> <span>Doktorski Pregledi</span></a></li>
                    <li><a href="@Url.Action("Therapies", "TaskReview", new {area = ""})"><i class="fa fa-link"></i> <span>Terapije</span></a></li>
                }
                 @if (Request.IsAuthenticated && User.IsInRole("Doctor"))
                 {<hr />
                     <li><a href="@Url.Action("Index", "ECard", new {area = ""})"><i class="fa fa-link"></i> @Resource.eCard</a></li>
                     <li><a href="@Url.Action("Index", "Patients", new {area = ""})"><i class="fa fa-link"></i>  @Resource.Patients</a></li>
                     <li><a href="@Url.Action("DoctorDashboard", "Home", new {area = ""})"><i class="fa fa-link"></i> <span>Pregled zakazanih termina</span></a></li>
                 }
                 @if (Request.IsAuthenticated && User.IsInRole("LaboratoryWorker"))
                 {
                     <li class="treeview">
                         <a href="#">
                             <i class="fa fa-link"></i>@Resource.Patient<span></span>
                             <span class="pull-right-container">
                                 <i class="fa fa-angle-left pull-right"></i>
                             </span>
                         </a>
                         <ul class="treeview-menu">
                             <li><a href="@Url.Action("Index", "ECard", new {area = ""})">@Resource.eCard</a></li>
                             <li><a href="@Url.Action("Index", "Patients", new {area = ""})">@Resource.Patients</a></li>
                         </ul>
                     </li>
                    <li><a href="@Url.Action("LaboratoryDashboard", "Home", new {area = ""})"><i class="fa fa-link"></i> <span>Pristigli zahtjevi</span></a></li>
                 }
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content container-fluid">
            @RenderBody()
        </section>
    </div>
    @Html.Partial("_FooterTemp")
</div>
    
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryajax")
@RenderSection("scripts", required: false)
<script src="~/Scripts/Assets/adminlte.min.js"></script>
<script type="text/javascript">
//set current to the "en-GB" culture script
    kendo.culture("@CultureHelper.GetCurrentCulture()");
</script>
</body>
</html>

<script id="successTemplate" type="text/x-kendo-template">
    <div class="upload-success">
        <img src="../Images/checked.png" />
        <h3>#= message #</h3>
    </div>
</script>
