﻿<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
       Diplomski rad
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2017 <a href="#">e @Resource.Card</a>.</strong>
</footer>

