﻿<li class="dropdown messages-menu">
    <!-- Menu toggle button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span>@Resource.Language</span>
        <span class="label label-success">2</span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <!-- inner menu: contains the messages -->
            <ul class="menu">
                <li><!-- start message -->
                    <a href="@Url.Action("SetCulture", "Home", new {area = "", culture = "bs-Latn-BA"})">
                        <div class="pull-left">
                            <!-- User Image -->
                            <img src="~/Content/Images/BHLan.png" />
                        </div>
                        <!-- Message title and timestamp -->
                        <h4>
                            @Resource.Bosnian
                        </h4>
                    </a>
                </li>
                <li><!-- start message -->
                    <a href="@Url.Action("SetCulture", "Home", new {area="", culture = "en-US"})">
                        <div class="pull-left">
                            <!-- User Image -->
                            <img src="~/Content/Images/ENLan.png" alt="Language"/>
                        </div>
                        <!-- Message title and timestamp -->
                        <h4>
                            @Resource.English
                        </h4>
                    </a>
                </li>
                <!-- end message -->
            </ul>
            <!-- /.menu -->
        </li>
    </ul>
</li>