﻿@using e_Card.Helpers
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@{
    var user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>
        ().FindById(HttpContext.Current.User.Identity.GetUserId());
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration clinics</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/Assets/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/Content/Assets/ionicons.min.css" rel="stylesheet"/>
    <!--Theme style-->
    <link href="~/Content/Assets/AdminLTE.min.css" rel="stylesheet"/>
    <link href="~/Content/Assets/skin-blue.min.css" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.common-material.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.material.min.css")" rel="stylesheet" type="text/css"/>
   

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="~/Scripts/share-js.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src='/signalr/js'></script>

    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/cultures/kendo.culture." + @CultureHelper.GetCurrentCulture() + ".min.js")"></script>
</head>
<body class="hold-transition skin-blue layout-top-nav">

<style>
    .k-edit-form-container .k-edit-buttons {
        width: 100%;
        padding-right: 22px;
    }
</style>
<div class="wrapper">
    @(Html.Kendo().Notification()
          .Name("notification")
          .Position(p => p.Pinned(true).Top(30).Right(30))
          .Stacking(NotificationStackingSettings.Down)
          .AutoHideAfter(5000)
          .Width(300)
          .Templates(t =>
          {
              t.Add().Type("error").ClientTemplateID("errorTemplate");
          })
          )
    
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand">@Resource.eCard</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>@Resource.Language</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="@Url.Action("SetCulture", "Home", new {area = "", culture = "bs-Latn-BA"})">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    <img src="~/Content/Images/BHLan.png"/>
                                                </div>
                                                <!-- Message title and timestamp -->
                                                <h4>
                                                    @Resource.Bosnian
                                                </h4>
                                            </a>
                                        </li>
                                        <li>
                                            <!-- start message -->
                                            <a href="@Url.Action("SetCulture", "Home", new {area = "", culture = "en-US"})">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    <img src="~/Content/Images/ENLan.png" alt="Language"/>
                                                </div>
                                                <!-- Message title and timestamp -->
                                                <h4>
                                                    @Resource.English
                                                </h4>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                    <!-- /.menu -->
                                </li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger" id="CountNotification">0</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header" id="headerCount">Nemate notifikacija</li>
                                <li>
                                    <ul class="menu" id="notificationPanel">
                                   
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @if (user.UrlImage == null)
                                {
                                    <img src="~/Images/default-image.png" class="user-image" alt="User image"/>
                                }
                                else
                                {
                                    <img src="~/UserImages/@user.UrlImage" class="user-image" alt="User image"/>
                                }

                                <span style="display: inline !important;" class="hidden-xs">@user.Name.ToUpper()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    @if (user.UrlImage == null)
                                    {
                                        <img src="~/Images/default-image.png" class="img-circle" alt="User image"/>
                                    }
                                    else
                                    {
                                        <img src="~/UserImages/@user.UrlImage" class="img-circle" alt="User image"/>
                                    }

                                    <p>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            @user.Name
                                            <text> - Admin</text>;
                                        }
                                        @if (User.IsInRole("SuperAdmin"))
                                        {
                                            @user.Name
                                            <text> - SuperAdmin</text>;
                                        }
                                        @if (User.IsInRole("Doctor"))
                                        {
                                            @user.FullName
                                            <text> - Doktor</text>;
                                        }
                                        @if (User.IsInRole("MedicalStaff"))
                                        {
                                            @user.FullName
                                            <text> - Medicinski tehničar</text>;
                                        }
                                        @if (User.IsInRole("LaboratoryWorker"))
                                        {
                                            @user.FullName
                                            <text> - Laborant</text>;
                                        }
                                        @if (User.IsInRole("Patient"))
                                        {
                                            @user.FullName
                                            <text> - Pacijent</text>;
                                        }
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">@Resource.Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        @if (Request.IsAuthenticated)
                                        {
                                            using (Html.BeginForm("LogOff", "Account", new {area = ""}, FormMethod.Post, new {id = "logoutForm"}))
                                            {
                                                @Html.AntiForgeryToken()
                                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">@Resource.Logout</a>
                                            }
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="content-wrapper">
        <div class="container">
            <section class="content">
                <section class="content container-fluid">
                    @RenderBody()
                </section>
            </section>
        </div>
    </div>
    <footer class="main-footer">
        <div class="container">
            @Html.Partial("_FooterTemp")
        </div>
    </footer>
</div>
    


@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryajax")
@RenderSection("scripts", required: false)
<script src="~/Scripts/Assets/adminlte.min.js"></script>
<script type="text/javascript">
//set current to the "en-GB" culture script
    kendo.culture("@CultureHelper.GetCurrentCulture()");
</script>
<script>
    $(function() {
        var proxy = $.connection.notificationHub;
        proxy.client.broadcastMessage = function (message, notificationId) {
            //alert("Evo radi: " + message);
            var count = parseInt($("#CountNotification").html());
           
            var fCount = count + 1;
            $("#CountNotification").html(fCount);
            $("#headerCount").html("Imate " + fCount + " notifikacija");
            $("#notificationPanel").prepend('<li class="notificationItem" notId="'+notificationId+'" style="background: aliceblue;"> <a href = "#"><h3 style="white-space: initial;">' +
                message +
                '<small class="pull-right newItem"> <strong style="color: black;">new</strong> </small>  </h3></a></li>');
            setClick();
        };
        $.connection.hub.start();

        function setClick() {
            $(".notificationItem").each(function() {
                $(this).click(function () {
                    $.ajax({
                        type: 'post',
                        url: '/home/ReadNotification',
                        data: { id: $(this).attr("notId") },
                        success: function() {
                            $(this).css("background-color", "white");
                            $(this).find(".newItem").remove();
                            var count = parseInt($("#CountNotification").html());
                           if (count > 0) {
                               var fCount = count - 1;
                               $("#CountNotification").html(fCount);
                           }
                        }
                    });
                });
            });
        }
    })
</script>
    

</body>
</html>
