﻿@model e_Card.ViewModel.TaskReviewVm
@{
    //required in order to render validation attributes
    ViewContext.FormContext = new FormContext();
}
<script src="~/Scripts/kendo/2017.2.621/kendo.timezones.min.js"></script>

@functions{

    public Dictionary<string, object> GenerateDatePickerAttributes(
        string elementId,
        string fieldName,
        string dataBindAttribute,
        Dictionary<string, object> additionalAttributes = null)
    {

        Dictionary<string, object> datePickerAttributes = additionalAttributes != null ? new Dictionary<string, object>(additionalAttributes) : new Dictionary<string, object>();

        datePickerAttributes["id"] = elementId;
        datePickerAttributes["name"] = fieldName;
        datePickerAttributes["data-bind"] = dataBindAttribute;
        datePickerAttributes["required"] = "required";
        datePickerAttributes["style"] = "z-index: inherit;";

        return datePickerAttributes;
    }

}

<div class="k-edit-label">
    @*@(Html.LabelFor(model => model.Title))*@
    <label for="@Model.Title">Naslov</label>
</div>
<div data-container-for="title" class="k-edit-field">
    @(Html.TextBoxFor(model => model.Title, new {@class = "k-textbox", data_bind = "value:title"}))
</div>

<div class="k-edit-label">
    <label for="@Model.Start">Početak</label>
</div>
<div data-container-for="start" class="k-edit-field">

    @(Html.Kendo().DateTimePickerFor(model => model.Start)
          .HtmlAttributes(GenerateDatePickerAttributes("startDateTime", "start", "value:start")))

    <span data-for="start" class="k-invalid-msg"></span>
</div>

<div class="k-edit-label">
    <label for="@Model.End">Kraj</label>
</div>
<div data-container-for="end" class="k-edit-field">

    @(Html.Kendo().DateTimePickerFor(model => model.End)
          .HtmlAttributes(GenerateDatePickerAttributes(
              "endDateTime",
              "end",
              "value:end",
              new Dictionary<string, object>() {{"data-dateCompare-msg", "End date should be greater than or equal to the start date"}})))
    <span data-for="end" class="k-invalid-msg"></span>
</div>

<div class="k-edit-label">
    <label for="@Model.Description">Opis</label>
</div>
<div data-container-for="description" class="k-edit-field">
    @(Html.TextAreaFor(model => model.Description, new {@class = "k-textbox", data_bind = "value:description"}))
</div>

<div class="k-edit-label">
    <label for="@Model.DoctorId">Doktor</label>
</div>
<div data-container-for="RoomID" class="k-edit-field">
    @(Html.Kendo().ComboBoxFor(@m => m.DoctorId)
          .DataValueField("Id")
          .DataTextField("Name")
          .Placeholder("Select doctor")
          .Filter(FilterType.StartsWith)
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetAllDoctors", "Doctors", new {area = ""});
              }).ServerFiltering(true);
          })
          .AutoBind(true)
          .HtmlAttributes(new {style = "width:100%;"})
          )
</div>

@{
    ViewContext.FormContext = null;
}

