﻿
@using Kendo.Mvc.UI
@model e_Card.Areas.AdministrationClinic.ViewModel.MedicalStaffVm


<div class="form-horizontal container" style="padding: 15px;">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { placeholder = "Name", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @Html.Kendo().TextBoxFor(m => m.Surname).HtmlAttributes(new { placeholder = "Surname", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.Surname)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @(Html.Kendo().Upload()
                  .Name("ImagePath")
                  .Async(a => a
                      .Save("UploadImage", "Doctors")
                  )
                  .Multiple(false)
                  .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".png" }))
                  )
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @(Html.Kendo().DropDownList()
                  .Name("Gender")
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .Text("Gender")
                  .AutoBind(false)
                  .BindTo(new List<SelectListItem>() {
                      new SelectListItem() {
                          Text = "Male",
                          Value = "Male"
                      },
                      new SelectListItem() {
                          Text = "Female",
                          Value = "Female"
                      },
                  })
                  .Value("Male")
                  .HtmlAttributes(new { style = "width: 100%", PlaceHolder="Gender" })
                  )
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @(Html.Kendo().DatePicker()
                  .Name("Birth")
                  .Culture("en-US")
                  .HtmlAttributes(new { style = "width: 100%", title = "Invalid date" }))
            @Html.ValidationMessageFor(m => m.Birth)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @Html.Kendo().TextBoxFor(m => m.Nationality).HtmlAttributes(new { placeholder = "Nationality", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.Nationality)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @Html.Kendo().TextBoxFor(m => m.Profession).HtmlAttributes(new { placeholder = "Profesion", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.Profession)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @Html.Kendo().TextBoxFor(m => m.Address).HtmlAttributes(new { placeholder = "Address", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.Address)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @Html.Kendo().TextBoxFor(m => m.Email).HtmlAttributes(new { placeholder = "Email", type="Email", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @(Html.Kendo().ComboBoxFor(@m => m.ClinicId)
                  .DataValueField("Id")
                  .DataTextField("Name")
                  .Placeholder("Select clinics")
                  .Filter(FilterType.StartsWith)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("GetAll", "Clinics", new {area=""});
                      }).ServerFiltering(true);
                  })
                  .AutoBind(false)
                  .HtmlAttributes(new { style = "width:100%;" })
                  )
        </div>
    </div>
</div>
