﻿@using Kendo.Mvc.UI
@model e_Card.Areas.AdministrationClinic.ViewModel.ClinicVm
    
<div class="form-horizontal container" style="padding: 15px;">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.Name">@Resource.Title</label>
            @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new {style = "width:100%"})
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.Address">@Resource.Address</label>
            @Html.Kendo().TextBoxFor(m => m.Address).HtmlAttributes(new {style = "width:100%"})
            @Html.ValidationMessageFor(m => m.Address)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.Phone">@Resource.Phone</label>
            @Html.Kendo().TextBoxFor(m => m.Phone).HtmlAttributes(new {style = "width:100%"})
            @Html.ValidationMessageFor(m => m.Phone)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.Email">@Resource.Email</label>
            @Html.Kendo().TextBoxFor(m => m.Email).HtmlAttributes(new {type = "email", style = "width:100%"})
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.Url">Url</label>
            @Html.Kendo().TextBoxFor(m => m.Url).HtmlAttributes(new {style = "width:100%"})
            @Html.ValidationMessageFor(m => m.Url)
        </div>
    </div>
</div>