﻿@using e_Card.Areas.AdministrationClinic.ViewModel
@using e_Card.ViewModel
@model MedicalStaffVm
@{
    ViewBag.Title = "MedicallStaffDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Zakazani pregledi</h3>

                @*<div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>*@
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">

                @(Html.Kendo().Grid<RequestVm>()
                      .Name("grid")
                      .Columns(columns =>
                      {
                          columns.Bound(c => c.PatientName).Title("Pacijent").Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains)));
                          columns.Bound(c => c.ShortDescription).Title(Resource.Title).Filterable(false);
                         
                      })
                      //.ToolBar(toolbar => toolbar.Create().Text("Dodaj tip lijeka"))
                      //.Editable(editable => editable.TemplateName("_typeEdit").Mode(GridEditMode.PopUp).Window(w => w.Width(430).Title("Tip lijeka")))
                      .Pageable(p => p.Refresh(true))
                      .Sortable()
                      .Filterable()
                      .Scrollable(scrollable => scrollable.Height("auto"))
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .PageSize(5)
                          .Events(events => events.Error("error_handler"))
                          .Model(model => model.Id(p => p.RequestId))
                          //.Create(create => create.Action("Create", "TypeMedicaments"))
                          .Read(read => read.Action("GetAllRequests", "MedicalStaffAdministration"))
                      //.Update(update => update.Action("Update", "TypeMedicaments"))
                      //.Destroy(update => update.Action("Destroy", "TypeMedicaments"))
                      ))
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

@*@(Html.Kendo().Scheduler<MedicalStaffVm>()
      .Name("scheduler")
      .Date(new DateTime(2013, 6, 13))
      .StartTime(new DateTime(2013, 6, 13, 7, 00, 00))
      .Height(600)
      .Views(views =>
      {
          views.DayView();
          views.WorkWeekView(workWeekView => workWeekView.Selected(true));
          views.WeekView();
          views.MonthView();
          views.AgendaView();
          views.TimelineView();
      })
      .Timezone("Etc/UTC")
      .DataSource(d => d
          .Model(m =>
          {
              m.Id(f => f.MedicalStaffId);
              m.Field(f => f.Title).DefaultValue("No title");
          })
      //.Read("Read", "Scheduler")
      //.Create("Create", "Scheduler")
      //.Destroy("Destroy", "Scheduler")
      //.Update("Update", "Scheduler")
      //.Filter(filters =>
      //{
      //    filters.Add(model => model.OwnerID).IsEqualTo(1).Or().IsEqualTo(2);
      //})
      )
      )*@

<script>
    function scheduler_resize(e) {
        if (roomIsOccupied(e.start, e.end, e.event, e.resources) ||
            attendeeIsOccupied(e.start, e.end, e.event, e.resources)) {
            this.wrapper.find(".k-marquee-color").addClass("invalid-slot");
            e.preventDefault();
        }
    }

    function scheduler_resizeEnd(e) {
        if (!checkAvailability(e.start, e.end, e.events)) {
            e.preventDefault();
        }
    }

    function scheduler_move(e) {
        if (roomIsOccupied(e.start, e.end, e.event, e.resources) ||
            attendeeIsOccupied(e.start, e.end, e.event, e.resources)) {
            this.wrapper.find(".k-event-drag-hint").addClass("invalid-slot");
        }
    }

    function scheduler_moveEnd(e) {
        if (!checkAvailability(e.start, e.end, e.event, e.resources)) {
            e.preventDefault();
        }
    }

    function scheduler_add(e) {
        if (!checkAvailability(e.event.start, e.event.end, e.event)) {
            e.preventDefault();
        }
    }

    function scheduler_save(e) {
        if (!checkAvailability(e.event.start, e.event.end, e.event)) {
            e.preventDefault();
        }
    }

    function occurrencesInRangeByResource(start, end, resourceFieldName, event, resources) {
        var scheduler = $("#scheduler").getKendoScheduler();

        var occurrences = scheduler.occurrencesInRange(start, end);

        var idx = occurrences.indexOf(event);
        if (idx > -1) {
            occurrences.splice(idx, 1);
        }

        event = $.extend({}, event, resources);

        return filterByResource(occurrences, resourceFieldName, event[resourceFieldName]);
    }

    function filterByResource(occurrences, resourceFieldName, value) {
        var result = [];
        var occurrence;

        for (var idx = 0, length = occurrences.length; idx < length; idx++) {
            occurrence = occurrences[idx];
            var resourceValue = occurrence[resourceFieldName];

            if (resourceValue === value) {
                result.push(occurrence);
            } else if (resourceValue instanceof kendo.data.ObservableArray) {
                if (value) {
                    for (var i = 0; i < value.length; i++) {
                        if (resourceValue.indexOf(value[i]) != -1) {
                            result.push(occurrence);
                            break;
                        }
                    }
                }
            }
        }
        return result;
    }

    function attendeeIsOccupied(start, end, event, resources) {
        var occurrences = occurrencesInRangeByResource(start, end, "Attendees", event, resources);
        if (occurrences.length > 0) {
            return true;
        }
        return false;
    }

    function roomIsOccupied(start, end, event, resources) {
        var occurrences = occurrencesInRangeByResource(start, end, "RoomID", event, resources);
        if (occurrences.length > 0) {
            return true;
        }
        return false;
    }

    function checkAvailability(start, end, event, resources) {
        if (attendeeIsOccupied(start, end, event, resources)) {
            setTimeout(function() {
                    alert("This person is not available in this time period.");
                },
                0);

            return false;
        }

        if (roomIsOccupied(start, end, event, resources)) {
            setTimeout(function() {
                    alert("This room is not available in this time period.");
                },
                0);

            return false;
        }

        return true;
    }

    function createDropArea(scheduler) {
        scheduler.view().content.kendoDropTargetArea({
            filter: ".k-scheduler-table td, .k-event",
            drop: function(e) {
                var grid = $("#grid").data("kendoGrid");
                var scheduler = $("#scheduler").data("kendoScheduler");

                var offset = $(e.dropTarget).offset();

                var slot = scheduler.slotByPosition(offset.left, offset.top);
                var dataItem = grid.dataItem(grid.select());

                if (dataItem && slot) {
                    var offsetMiliseconds = new Date().getTimezoneOffset() * 60000;
                    var newEvent = {
                        title: dataItem.Title,
                        end: new Date(slot.startDate.getTime() + (dataItem.End - dataItem.Start)),
                        start: slot.startDate,
                        isAllDay: slot.isDaySlot,
                        description: dataItem.Description
                    };

                    //delete current event:
                    grid.dataSource.remove(dataItem);
                    grid.dataSource.sync();
                    grid.dataSource.read();

                    //Save the new event and sync it with server:
                    scheduler.dataSource.add(newEvent);
                    scheduler.dataSource.sync();
                }

            }
        });
    }

    $(function() {
        var grid = $("#grid").data("kendoGrid"),
            gridRowOffset = grid.tbody.find("tr:first").offset();

        grid.table.kendoDraggable({
            filter: "tbody > tr",
            dragstart: function(e) {
                //add margin to position correctly the tooltip under the pointer
                $("#dragTooltip").css("margin-left", e.clientX - gridRowOffset.left - 50);
            },
            hint: function(row) {

                //remove old selection
                row.parent().find(".k-state-selected").each(function() {
                    $(this).removeClass("k-state-selected")
                })

                //add selected class to the current row
                row.addClass("k-state-selected");

                var dataItem = grid.dataItem(row);

                var tooltipHtml = "<div class='k-event' id='dragTooltip'><div class='k-event-template'>" +
                    kendo.format("{0:t} - {1:t}", dataItem.Start, dataItem.End) +
                    "</div><div class='k-event-template'>" +
                    dataItem.Title +
                    "</div></div>";

                return $(tooltipHtml).css("width", 300);
            }
        });
    })

</script>

<script id="errorTemplate" type="text/x-kendo-template">
        <div class="wrong-pass">
            <img src="@Url.Content("~/Images/errorIcon.png")" />
            <p>#= message #</p>
        </div>
    </script>

<style>
    .invalid-slot {
        background: red !important;
        cursor: no-drop;
    }
</style>

