﻿@using e_Card.Areas.AdministrationClinic.ViewModel
@using Kendo.Mvc.UI
@model IEnumerable<e_Card.Models.Clinic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@(Html.Kendo().Grid<ClinicVm>()
      .Name("clinic")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name).Title(Resource.Title);
          columns.Bound(c => c.Address).Title(Resource.Address);
          columns.Bound(c => c.Phone).Title(Resource.Phone);
          columns.Bound(c => c.Email).Title(Resource.Email);
          columns.Bound(c => c.Url).Title("Url").Filterable(false);
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
      })
      .ToolBar(toolbar => toolbar.Create().Text(Resource.AddClinic))
      .Editable(editable => editable.TemplateName("_ClinicEdit").Mode(GridEditMode.PopUp).Window(w => w.Width(430)))
      .Pageable()
      .Sortable()
      .Filterable()
      .Scrollable(scrollable => scrollable.Height("auto"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(30)
          .Events(events => events.Error("error_handler"))
          .Model(model => model.Id(p => p.ClinicId))
          .Create(create => create.Action("EditingPopup_Create", "Clinics"))
          .Read(read => read.Action("EditingPopup_Read", "Clinics"))
          .Update(update => update.Action("EditingPopup_Update", "Clinics"))
          .Destroy(update => update.Action("EditingPopup_Destroy", "Clinics"))
      ))


@*https://www.soundsnap.com/tags/notification?page=8*@
<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>
