﻿@using Kendo.Mvc.UI
@model e_Card.Areas.AdministrationClinic.ViewModel.DiseasesVm

<div class="form-horizontal container" style="padding: 15px;">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.Name">@Resource.Title</label>
            @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new {style = "width:100%"})
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.LatinName">Latinski naziv</label>
            @Html.Kendo().TextBoxFor(m => m.LatinName).HtmlAttributes(new { style = "width:100%" })
            @Html.ValidationMessageFor(m => m.LatinName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.Description">@Resource.Description</label>
            @Html.Kendo().TextBoxFor(m => m.Description).HtmlAttributes(new {style = "width:100%"})
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @Html.Kendo().CheckBoxFor(m => m.GeneticDisease).Checked(false).Label("Nasljedna bolest")
            @Html.ValidationMessageFor(m => m.GeneticDisease)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @Html.Kendo().CheckBoxFor(m => m.InfectiousDisease).Checked(false).Label("Zarazna bolest")
            @Html.ValidationMessageFor(m => m.InfectiousDisease)
        </div>
    </div>
</div>
