﻿@model  e_Card.ViewModel.RequestVm

@using (Html.BeginForm("CreateRequestManual", "Home",FormMethod.Post, new {id = "createRequestForm"}))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div>
            <label for="@Model.Description">Opis</label>
            @Html.TextAreaFor(m => m.Description, new {@class = "k-textbox", style = "width: 100%;"})
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>

    <div class="form-group">
        <div>
            <label for="@Model.ShortDescription">Kratak opis</label>
            @Html.TextAreaFor(m => m.ShortDescription, new {@class = "k-textbox", style = "width: 100%;"})
            @Html.ValidationMessageFor(m => m.ShortDescription)
        </div>
    </div>

    <div class="form-group">
        <div>
            <label for="@Model.PreferedDate">Željeni datum</label>
            @(Html.Kendo().DatePickerFor(m => m.PreferedDate)
                  .Value(DateTime.Now)
                  .Animation(true)
                  .HtmlAttributes(new {style = "width: 100%", title = "Invalid date"}))
            @Html.ValidationMessageFor(m => m.PreferedDate)
        </div>
    </div>

    <div class="form-group">
        <div>
            <label for="PatientId">Pacijent</label>
            @(Html.Kendo().ComboBoxFor(m => m.PatientId)
                  .HtmlAttributes(new {style = "width:100%;"})
                  .DataTextField("Name")
                  .DataValueField("Id")
                  .Filter(FilterType.Contains)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("GetAll", "Patients");
                      });
                  })
                  )
        </div>
    </div>

    @Html.HiddenFor(m => m.DepartmentId, new {value = 0})

    <div style="text-align: right;">
        @(Html.Kendo().Button()
              .Name("sendRequest")
              .HtmlAttributes(new {type = "submit", @class = "k-primary"})
              .Content("Pošalji zahtjev"))
    </div>
}