﻿@using e_Card.ViewModel
@model TaskReviewVm

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Zakazani pregledi</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">

                @(Html.Kendo().Grid<RequestVm>()
                      .Name("grid")
                      .Columns(columns =>
                      {
                      columns.Bound(c => c.PatientName).Title("Pacijent").Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).ClientTemplate("<a href=" + Url.Action("MedicalHistory", "ECard", new { id = "#=PatientId#" }) + ">#=PatientName#</a>");
                      columns.Bound(c => c.ShortDescription).Title("Kratak opis").Filterable(false);
                      columns.Bound(c => c.PreferedDate).Title("Datum").Filterable(false).Format("{0:dd/MM/yyyy}");
                      columns.Bound(c => c.Approved).Title("Status").ClientTemplate("# if(data.Approved) " +
                                                                                    "{# <span>Odobren</span>#} " +
                                                                                    "else {# <span>Pending </span> #}#");
                      //columns.Command(c => c.Custom("Naruči pacijenta").Click("reviewPatient"));
                      columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("CreateSchedulerEvent", "TaskReview") + "/#=RequestId#'>Naruči pacijenta</a>");

                      })
                      //.ToolBar(toolbar => toolbar.Create().Text("Kreiraj novi zahtjev"))
                      //.Editable(editable => editable.TemplateName("_manualCreateRequest").Mode(GridEditMode.PopUp).Window(w => w.Width(430).Title("Kreiraj novi zahtjev")))
                      .Pageable()
                      .Sortable()
                      .Scrollable()
                      .Filterable()
                      .Scrollable(scrollable => scrollable.Height("auto"))
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .PageSize(5)
                          .Events(events => events.Error("error_handler"))
                          .Model(model => model.Id(p => p.RequestId))
                          //.Create(create => create.Action("CreateRequestManual", "Home"))
                          .Read(read => read.Action("GetAllRequests", "MedicalStaffAdministration", new { approved = true }))
                          //.Update(update => update.Action("Update", "TypeMedicaments"))
                          .Destroy(update => update.Action("Destroy", "MedicalStaffAdministration"))
                      ))
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

<script>
    function reviewPatient(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $.ajax({
            url: '/TaskReview/CreateSchedulerEvent/',
            data: {
                id: dataItem.RequestId
            },
            error: function(data) {
                alert(data.message);
            },
            type: 'POST'
        });
    }
</script>
