﻿@using e_Card.ViewModel
@model TaskReviewVm

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Zahtjevi za pregled</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <button type="button" class="form-control pull-right" id="createNewRequest">Naruči novog pacijenta</button>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">

                @(Html.Kendo().Grid<RequestVm>()
                      .Name("grid")
                      .Columns(columns =>
                      {
                      columns.Bound(c => c.PatientName).Title("Pacijent").Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).ClientTemplate("<a href=" + Url.Action("MedicalHistory", "ECard", new { id = "#=PatientId#" }) + ">#=PatientName#</a>");
                      columns.Bound(c => c.ShortDescription).Title("Kratak opis").Filterable(false);
                      columns.Bound(c => c.PreferedDate).Title("Željeni datum").Filterable(false).Format("{0:dd/MM/yyyy}");
                      columns.Bound(c => c.Approved).Title("Status").ClientTemplate("# if(data.Approved) " +
                                                                                    "{# <span>Na čekanju</span>#} " +
                                                                                    "else {# <span>Pending </span> #}#");
                      columns.Command(c => c.Custom("Odobri pregled").Click("setApproved"));
                      columns.Command(c => c.Custom("Odbaci pregled").Click("setNotApproved"));
                        @*columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("ApproveRequest", "TaskReview") + "/#=RequestId#'>Odobri pregled</a>");*@

                      })
                      //.ToolBar(toolbar => toolbar.Create().Text("Kreiraj novi zahtjev"))
                      //.Editable(editable => editable.TemplateName("_manualEditRequest").Mode(GridEditMode.PopUp).Window(w => w.Width(430).Title("Kreiraj novi zahtjev")))
                      .Pageable(p => p.Refresh(true))
                      .Sortable()
                      .Scrollable()
                      .Filterable()
                      .Scrollable(scrollable => scrollable.Height("auto"))
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .PageSize(5)
                          .Events(events => events.Error("error_handler"))
                          .Model(model => model.Id(p => p.RequestId))
                          //.Create(create => create.Action("CreateRequestManual", "Home"))
                          .Read(read => read.Action("GetAllRequests", "MedicalStaffAdministration", new { approved = false }))
                          //.Update(update => update.Action("Update", "TypeMedicaments"))
                          .Destroy(update => update.Action("Destroy", "MedicalStaffAdministration"))
                      ))
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>


@(Html.Kendo().Window()
      .Name("window")
      .Title("Naruči novog pacijenta")
      .Content(@<text>
        @Html.Partial("_createManualRequest", new RequestVm())
    </text>)
      .Draggable()
      .Resizable()
      .Width(550)
      .Modal(true)
      .Draggable(false)
      .Visible(false)
      .Actions(actions => actions.Close())
      .Events(ev => ev.Close("onClose"))
)

@(Html.Kendo().Window().Name("notApprove")
      .Title("Napomena")
      .Visible(false)
      .Modal(true)
      .Draggable(true)
      .Width(300)
)


<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>


<script>
    function onClose() {
        $("#createNewRequest").show();
    }

    $(document).ready(function () {
        $("#createNewRequest").bind("click",
            function () {
                $("#window").data("kendoWindow").center().open();
                $("#createNewRequest").hide();
            });
    });

    //function setApproved(e) {
    //    e.preventDefault();
    //    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

    //    $.ajax({
    //        url: '/TaskReview/ApproveRequest/',
    //        data: {
    //            id: dataItem.RequestId
    //        },
    //        error: function (data) {
    //            alert(data.message);
    //        },
    //        success: function (data) {
    //            $('#grid').data('kendoGrid').dataSource.read();
    //        },
    //        type: 'POST'
    //    });
    //}

    function setApproved(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $.ajax({
            url: '/TaskReview/CreateSchedulerEvent/',
            data: {
                id: dataItem.RequestId
            },
            error: function(data) {
                alert(data.message);
            },
            success: function(data) {
                //$('#grid').data('kendoGrid').dataSource.read();
                window.location.href = '/TaskReview/CreateSchedulerEvent/' + dataItem.RequestId;
            },
            type: 'POST'
        });
    }

</script>

<script type="text/x-kendo-template" id="template">
    <label for="notApprovedMessage">Napomena za pacijenta</label>
    <div>@(Html.Kendo().TextBox().Name("notApprovedmessage").HtmlAttributes(new { style = "width: 100%" }).ToClientTemplate())</div>

    <div style="position: relative; margin-top: 10px; display: flex; justify-content: center;">
        @(Html.Kendo().Button()
              .Name("primaryTextButton")
              .HtmlAttributes(new { type = "button", @class = "k-primary", onClick = "setNotApprovedClick('#=RequestId#')" })
              .Content("Obavijesti pacijenta").ToClientTemplate())
    </div>
</script>

<script>
    var detailsTemplate = kendo.template($("#template").html());

    function setNotApproved(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#notApprove").data("kendoWindow");

        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
    }

    function setNotApprovedClick(id) {
        alert(id);
        var message = $("#notApprovedmessage").val();

        $.ajax({
            url: '/TaskReview/RejectRequest/',
            data: {
                id: id,
                message: message
            },
            error: function(data) {
                alert(data.message);
            },
            success: function(data) {
                $('#grid').data('kendoGrid').dataSource.read();
            },
            type: 'POST'
        });
    }
</script>

