﻿@using e_Card.ViewModel
@model TaskReviewVm

@{
    ViewBag.Title = "SchedulerTask";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Scheduler<TaskReviewVm>()
    .Name("scheduler")
    .Date(DateTime.Today)
    .StartTime(new DateTime(2013, 6, 13, 7, 00, 00))
    .EndTime(new DateTime(2013, 6, 13, 16, 00, 00))
    .Height(600)
    .CurrentTimeMarker(m => m.UseLocalTimezone(true))
    .Views(views =>
    {
        views.DayView();
        views.WeekView(weekView => weekView.Selected(true));
        views.MonthView();
        views.AgendaView();
    })
    .Editable(editable => {
        editable.TemplateName("CustomEditorTemplate");
    })
    //.Events(e => e.Add("scheduler_add")
    //    .Save("scheduler_save")
    //    .Move("scheduler_move")
    //    .MoveEnd("scheduler_moveEnd"))
    .DataSource(d => d
        .Model(m =>
        {
            m.Id(f => f.TaskId);
            m.Field(f => f.Title).DefaultValue("No title");
            m.Id(f => f.DoctorId);
        })
        .Events(e => e.Error("error_handler"))
        .Read(r => r.Action("Meetings_read", "TaskReview"))
        .Create(c => c.Action("Meetings_Create", "TaskReview").Data("getRequestId"))
        .Destroy(dd => dd.Action("Meetings_Destroy", "TaskReview").Data("getRequestId"))
        .Update(u => u.Action("Meetings_Update", "TaskReview").Data("getRequestId"))
      ))

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

<script>
    //$("#RequestId").val(17);
    function getRequestId() {
        return {
            requestId: @Model.RequestId
            }
    }
</script>

<style>
    .invalid-slot {
        background: red !important;
        cursor: no-drop;
    }
</style>