﻿@using e_Card.ViewModel

@{
    ViewBag.Title = "Therapies";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Grid<RequestTherapyVm>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Patient.FullName).Title("Pacijent");
          columns.Bound(c => c.TherapyName).Title("Naziv terapije").Filterable(false);
          columns.Bound(c => c.Patient.Jmbg).Title("Matični broj");
          columns.Command(c => c.Custom("Pregled detalja").Click("detailsView"));
                        @*columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("ApproveRequest", "TaskReview") + "/#=RequestId#'>Odobri pregled</a>");*@

      })
      .Pageable()
      .Sortable()
      .Filterable()
      .Resizable(resize => resize.Columns(true))
      .Scrollable(scrollable => scrollable.Height("auto"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(100)
          .Events(events => events.Error("error_handler"))
          .Model(model => model.Id(p => p.ReviewId))
          //.Create(create => create.Action("CreateRequestManual", "Home"))
          .Read(read => read.Action("GetAllRequestsTherapy", "TaskReview"))
      //.Update(update => update.Action("Update", "TypeMedicaments"))
      // .Destroy(update => update.Action("Destroy", "MedicalStaffAdministration"))
      ))

@(Html.Kendo().Window().Name("Details")
      .Title("Detalji")
      .Visible(false)
      .Modal(true)
      .Draggable(true)
      .Width(300)
      )

<script type="text/x-kendo-template" id="template">
    <div id="details-container">
        <p><strong>Pacijent: </strong>#=Patient.FullName#</p>
        <p><strong>Terapija: </strong>#=TherapyName#</p>
        <p><strong>Početak terapije: </strong>#=kendo.toString(DateFrom, 'd')#</p>
        <p><strong>Kraj terapije: </strong>#=kendo.toString(DateTo, 'd')#</p>
        @*<h2>#= TherapyName # #= LastName #</h2>
        <em>#= Title #</em>
        <dl>
            <dt>City: #= City #</dt>
            <dt>Address: #= Address #</dt>
        </dl>*@
    </div>
</script>

<script>
    var detailsTemplate = kendo.template($("#template").html());
    function detailsView(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#Details").data("kendoWindow");

        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
    }
</script>

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>