﻿@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav">
    <li class="dropdown messages-menu">
        <!-- Menu toggle button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span>@Resource.Language</span>
            <span class="label label-success">2</span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                    <li>
                        <!-- start message -->
                        <a href="@Url.Action("SetCulture", "Home", new {area = "", culture = "bs-Latn-BA"})">
                            <div class="pull-left">
                                <!-- User Image -->
                                <img src="~/Content/Images/BHLan.png" />
                            </div>
                            <!-- Message title and timestamp -->
                            <h4>
                                @Resource.Bosnian
                            </h4>
                        </a>
                    </li>
                    <li>
                        <!-- start message -->
                        <a href="@Url.Action("SetCulture", "Home", new {area="", culture = "en-US"})">
                            <div class="pull-left">
                                <!-- User Image -->
                                <img src="~/Content/Images/ENLan.png" alt="Language" />
                            </div>
                            <!-- Message title and timestamp -->
                            <h4>
                                @Resource.English
                            </h4>
                        </a>
                    </li>
                    <!-- end message -->
                </ul>
                <!-- /.menu -->
            </li>
        </ul>
    </li>
    <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">@Resource.YouHave 10 @Resource.Notification</li>
            <li>
                <ul class="menu">
                    <li>
                        <a href="#">
                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                    </li>
                </ul>
            </li>
            <li class="footer"><a href="#">@Resource.ViewAll</a></li>
        </ul>
    </li>

    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/Content/Images/user2-160x160.jpg" class="user-image" alt="User image" />
            <span style="display: inline !important;" class="hidden-xs">Administrator</span>
        </a>
        <ul class="dropdown-menu">
            <li class="user-header">
                <img src="~/Content/Images/user2-160x160.jpg" class="img-circle" alt="User image" />
                <p>
                    @User.Identity.GetUserName() - administrator @Resource.Clinics
                </p>
            </li>
            <li class="user-footer">
                <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">@Resource.Profile</a>
                </div>
                <div class="pull-right">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">@Resource.Logout</a>
                        }
                    }
                </div>
            </li>
        </ul>
    </li>
</ul>
