﻿@using e_Card.Areas.AdministrationClinic.ViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Grid<LabItemVm>()
      .Name("labItem")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name).Title(Resource.Title);
          columns.Bound(c => c.Label).Title("Oznaka");
          columns.Bound(c => c.AverageValue).Title("Prosječna vrijednost");
          columns.Bound(c => c.MinValue).Title("Minimalna vrijednost");
          columns.Bound(c => c.MaxValue).Title("Maximalna vrijednost");
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
      })
      .ToolBar(toolbar => toolbar.Create().Text("Dodaj stavku"))
      .Editable(editable => editable.TemplateName("_LabItemsEdit").Mode(GridEditMode.PopUp).Window(w => w.Width(430)))
      .Pageable()
      .Sortable()
      .Filterable()
      .Scrollable(scrollable => scrollable.Height("auto"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(5)
          .Events(events => events.Error("error_handler"))
          .Model(model => model.Id(p => p.LabItemId))
          .Create(create => create.Action("Create", "LabItems"))
          .Read(read => read.Action("Read", "LabItems"))
          .Update(update => update.Action("Update", "LabItems"))
          .Destroy(update => update.Action("Destroy", "LabItems"))
      ))

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

