﻿@using e_Card.Areas.AdministrationClinic.ViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Grid<LaboratoryVm>()
      .Name("laboratory")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name).Title(Resource.Title);
          columns.Bound(c => c.ClinicName).Title("Naziv klinike");
          columns.Bound(c => c.Description).Title(Resource.Description).Filterable(false);
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
      })
      .ToolBar(toolbar => toolbar.Create().Text("Dodaj labaratoriju"))
      .Editable(editable => editable.TemplateName("_LaboratoryEdit").Mode(GridEditMode.PopUp).Window(w => w.Width(430)))
      .Pageable()
      .Sortable()
      .Filterable()
      .Scrollable(scrollable => scrollable.Height("auto"))
      .Events(e => e.Edit("onEdit").Save("onSaveItems"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(5)
          .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
          .Model(model => model.Id(p => p.LaboratoryId))
          .Create(create => create.Action("Create", "Laboratories"))
          .Read(read => read.Action("Read", "Laboratories"))
          .Update(update => update.Action("Update", "Laboratories"))
          .Destroy(update => update.Action("Destroy", "Laboratories"))
      ))

<script type="text/javascript">

    function onEdit(e) {
        if (e.model.isNew()) {
            $("#ClinicId").data("kendoComboBox").value(null);
        }
    }

    function onRequestEnd(e) {
        if (e.type != "read") {
            e.sender.read();
        }
    }

    function onSelect(e) {
        
    }

    function onSaveItems(e) {
        e.model.set("LaboratoryReportIds", $("#LaboratoryReportIds").data("kendoMultiSelect").value());
    }
</script>

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

