﻿
@using Kendo.Mvc.UI
@model e_Card.Areas.AdministrationClinic.ViewModel.DepartmentVm


<div class="form-horizontal container" style="padding: 15px;">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.Name">@Resource.Title</label>
            @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new {style = "width:100%"})
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    @ViewData["id"]
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.Description">@Resource.Description</label>
            @Html.Kendo().TextBoxFor(m => m.Description).HtmlAttributes(new {style = "width:100%"})
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.ClinicIds">Klinika</label>
            @(Html.Kendo().MultiSelectFor(m => m.ClinicIds)
                  .DataTextField("Name")
                  .DataValueField("Id")
                  .AutoBind(true)
                  .DataSource(source =>
                  {
                      source.Read(read => { read.Action("GetAll", "Clinics", new {area = ""}); })
                          .ServerFiltering(true);
                  })
                  .HtmlAttributes(new {style = "width:100%;"})
                  )
            @Html.ValidationMessageFor(m => m.ClinicIds)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.ChiefId">Šef odjeljenja</label>
            @(Html.Kendo().ComboBoxFor(m => m.ChiefId)
                  .DataTextField("Name")
                  .DataValueField("Id")
                  .AutoBind(true)
                  .DataSource(source =>
                  {
                      source.Read(read => { read.Action("GetAll", "Doctors", new {area = ""}); })
                          .ServerFiltering(true);
                  })
                  .HtmlAttributes(new {style = "width:100%;"})
                  )
            @Html.ValidationMessageFor(m => m.ChiefId)
        </div>
    </div>
    @Html.HiddenFor(m => m.DateOfEstablishment, new { value = Model.DateOfEstablishment })
</div>
