﻿@using e_Card.Areas.AdministrationClinic.ViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Grid<MedicamentVm>()
      .Name("laboratory")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name).Title(Resource.Title);
          columns.Bound(c => c.Description).Title(Resource.Description);
          columns.Bound(c => c.Grammage).Title("Gramaža").ClientTemplate("#= Grammage # mg");
          columns.Bound(c => c.TypeName).Title("Tip lijeka");
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
      })
      .ToolBar(toolbar => toolbar.Create().Text("Dodaj lijek"))
      .Editable(editable => editable.TemplateName("_editMedicaments").Mode(GridEditMode.PopUp).Window(w => w.Width(430)))
      .Pageable()
      .Sortable()
      .Filterable()
      .Scrollable(scrollable => scrollable.Height("auto"))
      .Events(e => e.Edit("onEdit"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(5)
          .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
          .Model(model => model.Id(p => p.MedicamentId))
          .Create(create => create.Action("Create", "Medicaments"))
          .Read(read => read.Action("Read", "Medicaments"))
          .Update(update => update.Action("Update", "Medicaments"))
          .Destroy(update => update.Action("Destroy", "Medicaments"))
      ))

<script type="text/javascript">
    function onEdit(e) {
        if (e.model.isNew()) {
            $("#TypeId").data("kendoComboBox").value(null);
        } 
    }

    function onSelect(e) {
        
    }

    function onRequestEnd(e) {
        if (e.type != "read") {
            e.sender.read();
        }
    }
</script>

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>
