﻿@using e_Card.ViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Grid<ECardVm>()
      .Name("eCard")
      .Columns(columns =>
      {
          columns.Bound(c => c.PatientName).Title("Ime pacijenta");
          columns.Bound(c => c.SerialNo).Title("Jmbg");
          columns.Bound(c => c.FamilyDiseases).Title("Porodična oboljenja").Filterable(false);
          columns.Template(@<text></text>).ClientTemplate("<a class='k-button k-button-icontext' href='" + Url.Action("MedicalHistory", "ECard") + "/#=PatientId#'>Historija bolesti</a>");
      })
      .Pageable()
      .Sortable()
      .Filterable()
      .Scrollable(scrollable => scrollable.Height("auto"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(50)
          .Events(events => events.Error("error_handler"))
          .Model(model => model.Id(p => p.CardId))
          .Read(read => read.Action("Read", "ECard"))
      ))

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>


