﻿@using e_Card.ViewModel
@model e_Card.ViewModel.MedicalHistoryVm

@{
    ViewBag.Title = "MedicalHistory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-medkit" style="font-size: 20px;"></i><strong> e-Karton pacijenta @Model.PatientName</strong></h3>
    </div>
    <div class="col-md-3">
        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="/UserImages/@Model.UrlImage" alt="User profile picture">
                <h3 class="profile-username text-center">@Model.PatientName @Model.PatientSurname</h3>
                <p class="text-muted text-center">@Model.Profession</p>
                <ul class="list-group list-group-unbordered">

                    <li class="list-group-item">
                        <b>Lijekovi</b> <a class="pull-right">@Model.MedicamentsCount</a>
                    </li>

                    <li class="list-group-item">
                        <b>Bolesti</b> <a class="pull-right">@Model.DiseasesCount</a>
                    </li>
                    <li class="list-group-item">
                        <b>Alergije</b> <a class="pull-right">@Model.AllergiesCount</a>
                    </li>

                </ul>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- About Me Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Porodična oboljenja</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                @*<strong><i class="fa fa-book margin-r-5"></i> Education</strong>*@
                <p class="text-muted" id="familyDiseaseText">
                    @Model.FamilyDisease
                </p>
                <div class="editFamilyDisease" id="editFamilyDiseaseBtn" title="edit">
                    <span class="glyphicon glyphicon-edit"></span>
                </div>
                <div class="editFamilyDisease hidden" id="editFamilyDiseaseBtnHidden" cardId="@Model.CardId" title="save">
                    <span class="glyphicon glyphicon-check"></span>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- About Me Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Osnovne informacije</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                @*<strong><i class="fa fa-book margin-r-5"></i> Education</strong>*@
                <strong><i class="fa fa-map-marker margin-r-5"></i> Adresa prebivališta</strong>
                <p class="text-muted">@Model.Address</p>
                <hr>
                <strong><i class="fa fa-hospital-o margin-r-5"></i> JMBG</strong>
                <p class="text-muted">@Model.Jmbg</p>
                <hr>
                <strong><i class="fa fa-heart margin-r-5"></i>Krvna grupa</strong>
                <p class="text-muted">@Model.BloodType</p>
                <hr>
                <strong><i class="fa  fa-user-md margin-r-5"></i>Visina</strong>
                <p class="text-muted">@Model.Height</p>
                <hr>
                <strong><i class="fa  fa-user-md margin-r-5"></i>Težina</strong>
                <p class="text-muted">@Model.Weight</p>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#diseases" data-toggle="tab">Bolesti</a></li>
                <li><a href="#medicaments" data-toggle="tab">Lijekovi</a></li>
                <li><a href="#allergies" data-toggle="tab">Alergije</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="diseases">
                    @(Html.Kendo().Grid<CardDiseaseVm>()
                          .Name("cardDisease")
                          .Columns(columns =>
                          {
                              columns.Bound(c => c.DiseaseName).Title("Naziv bolesti");
                              columns.Bound(c => c.DateFrom).Title("Od").ClientTemplate("#= kendo.toString(kendo.parseDate(DateFrom), 'dd/MM/yyyy') #"); ;
                              columns.Bound(c => c.DateTo).Title("Do").ClientTemplate("#= kendo.toString(kendo.parseDate(DateTo), 'dd/MM/yyyy') #"); ;
                              columns.Bound(c => c.Comment).Title("Napomena").Filterable(false);
                              columns.Bound(c => c.IsActive).Title("Aktivna bolest").ClientTemplate("<input type='checkbox' #= IsActive ? 'checked= checked' : '' # disabled='disabled' ></input>").Filterable(false);
                              columns.Command(command => { command.Edit();}).Width(250);
                          })
                          .ToolBar(toolbar => toolbar.Create().Text("Dodaj bolest"))
                          .Editable(editable => editable.TemplateName("_cardDiseaseEdit").Mode(GridEditMode.PopUp).Window(w => w.Width(430)))
                          .Pageable()
                          .Sortable()
                          .Filterable()
                          .Events(e => e.Edit("onEdit"))
                          .Scrollable(scrollable => scrollable.Height("auto"))
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .PageSize(10)
                              .ServerOperation(true)
                              .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                              .Model(model => model.Id(p => p.DiseaseId))
                              .Create(create => create.Action("CreateCardDisease", "ECard", new { id = Model.CardId }))
                              .Read(read => read.Action("ReadCardDisease", "ECard", new { id = Model.CardId }))
                          .Update(update => update.Action("UpdateCardDisease", "ECard", new { id = Model.CardId }))
                          //.Destroy(update => update.Action("DestroyCardDisease", "ECard", new { id = Model.CardId }))
                          ))
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="medicaments">
                    @(Html.Kendo().Grid<CardMedicamentVm>()
                          .Name("cardMedicaments")
                          .Columns(columns =>
                          {
                              columns.Bound(c => c.MedicamentName).Title("Naziv lijeka");
                              columns.Bound(c => c.DateFrom).Title("Od").ClientTemplate("#= kendo.toString(kendo.parseDate(DateFrom), 'dd/MM/yyyy') #"); ;
                              columns.Bound(c => c.DateTo).Title("Do").ClientTemplate("#= kendo.toString(kendo.parseDate(DateTo), 'dd/MM/yyyy') #"); ;
                              columns.Bound(c => c.Comment).Title("Napomena").Filterable(false);
                              columns.Bound(c => c.IsActive).Title("Aktivan lijek").ClientTemplate("<input type='checkbox' #= IsActive ? 'checked= checked' : '' # disabled='disabled' ></input>").Filterable(false);
                              columns.Command(command => { command.Edit();}).Width(250);
                          })
                          .ToolBar(toolbar => toolbar.Create().Text("Dodaj lijek"))
                          .Editable(editable => editable.TemplateName("_cardMedicamentEdit").Mode(GridEditMode.PopUp).Window(w => w.Width(430)))
                          .Pageable()
                          .Filterable()
                          .Sortable()
                          .Events(e => e.Edit("onEditMedicament"))
                          .Scrollable(scrollable => scrollable.Height("auto"))
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .PageSize(10)
                              .ServerOperation(true)
                              .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                              .Model(model => model.Id(p => p.MedicamentId))
                              .Create(create => create.Action("CreateCardMedicaments", "ECard", new { id = Model.CardId }))
                              .Read(read => read.Action("ReadCardMedicament", "ECard", new { id = Model.CardId }))
                              .Update(update => update.Action("UpdateCardMedicaments", "ECard", new { id = Model.CardId }))
                              //.Destroy(update => update.Action("DestroyCardMedicaments", "ECard", new { id = Model.CardId }))
                          ))
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="allergies">
                    @(Html.Kendo().Grid<CardAllergiesVm>()
                          .Name("cardAllergies")
                          .Columns(columns =>
                          {
                              columns.Bound(c => c.AllergieName).Title("Naziv alergije");
                              columns.Bound(c => c.DateFrom).Title("Od").ClientTemplate("#= kendo.toString(kendo.parseDate(DateFrom), 'dd/MM/yyyy') #"); ;
                              columns.Bound(c => c.DateTo).Title("Do").ClientTemplate("#= kendo.toString(kendo.parseDate(DateTo), 'dd/MM/yyyy') #"); ;
                              columns.Bound(c => c.Comment).Title("Napomena").Filterable(false);
                              columns.Bound(c => c.IsActive).Title("Aktivna alergija").ClientTemplate("<input type='checkbox' #= IsActive ? 'checked= checked' : '' # disabled='disabled' ></input>").Filterable(false);
                              columns.Command(command => { command.Edit();}).Width(250);
                          })
                          .ToolBar(toolbar => toolbar.Create().Text("Dodaj alergiju"))
                          .Editable(editable => editable.TemplateName("_cardAllergieEdit").Mode(GridEditMode.PopUp).Window(w => w.Width(430)))
                          .Pageable()
                          .Sortable()
                          .Filterable()
                          .Events(e => e.Edit("onEditAllergie"))
                          .Scrollable(scrollable => scrollable.Height("auto"))
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .PageSize(10)
                              .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                              .Model(model => model.Id(p => p.AllergieId))
                              .Create(create => create.Action("CreateCardAllergies", "ECard", new { id = Model.CardId }))
                              .Read(read => read.Action("ReadCardAllergies", "ECard", new { id = Model.CardId }))
                              .Update(update => update.Action("UpdateCardAllergies", "ECard", new { id = Model.CardId }).Type(HttpVerbs.Post))
                              //.Destroy(update => update.Action("DestroyCardAllergies", "ECard", new { id = Model.CardId }))
                          ))
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<script>
    $("#editFamilyDiseaseBtn").click(function () {
        const oldText = $("#familyDiseaseText").text();
        $("#familyDiseaseText").hide();

        $(this).before('<textarea id="newTextFamilyDiseases">' + oldText + '</textarea>');
        $(this).hide();
        $("#editFamilyDiseaseBtnHidden").removeClass("hidden");
    });

    $("#editFamilyDiseaseBtnHidden").click(function() {
        $.ajax({
            url: '/ECard/SaveFamilyDisease/',
            data: {
                id: $(this).attr("cardId"),
                value: $("#newTextFamilyDiseases").val()
            },
            error: function(data) {
                alert(data.message);
                $("#familyDiseaseText").text($("#newTextFamilyDiseases").val(window.oldText));
            },
            success: function(data) {
                $("#familyDiseaseText").show();
                $("#familyDiseaseText").text($("#newTextFamilyDiseases").val());
                $("#editFamilyDiseaseBtnHidden").hide();
                $("#editFamilyDiseaseBtn").show();
                $("#newTextFamilyDiseases").remove();
            },
            type: 'POST'
        });
    });

    function onRequestEnd(e) {
        if (e.type != "read") {
            e.sender.read();
        }
    }

    function onEdit(e) {

        if (e.model.isNew()) {
            $("#DiseaseId").data("kendoComboBox").value(null);
            $("input#cardId").val(@Model.CardId);
        } else {
            $("#editCardDiseaseField").hide();
            $("#DiseaseId").val(e.model.DiseaseId);
        }
    }

    function onEditMedicament(e) {
        console.log(e.model);
        if (e.model.isNew()) {
            $("#MedicamentId").data("kendoComboBox").value(null);
            $("input#cardId").val(@Model.CardId);
        } else {
            $("#editCardMedicamentsField").hide();
            $("#MedicamentId").val(e.model.MedicamentId);
        }
    }

    function onEditAllergie(e) {

        if (e.model.isNew()) {
            $("#AllergieId").data("kendoComboBox").value(null);
            $("input#cardId").val(@Model.CardId);
        } else {
            $("#editCardAllergieField").hide();
            $("#AllergieId").val(e.model.AllergieId);
        }
    }

    function additionalInfo() {
        return {
            id: @Model.CardId,
        }
    }
</script>

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>
