﻿@using e_Card.Areas.AdministrationClinic.ViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Grid<AllergiesVm>()
      .Name("allergies")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name).Title(Resource.Title);
          columns.Bound(c => c.Description).Title(Resource.Description).Filterable(false);
          columns.Command(command => { command.Edit().Text("Uredi").CancelText("Odustani").UpdateText("Spremi izmjene"); command.Destroy().Text("Izbriši"); }).Width(250);
      })
      .ToolBar(toolbar => toolbar.Create().Text("Dodaj tip lijeka"))
      .Editable(editable => editable.TemplateName("_allergiesEdit").Mode(GridEditMode.PopUp).Window(w => w.Width(430).Title("Dodaj alergiju")))
      .Pageable()
      .Sortable()
      .Filterable()
      .Scrollable(scrollable => scrollable.Height("auto"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(5)
          .Events(events => events.Error("error_handler"))
          .Model(model => model.Id(p => p.AllergieId))
          .Create(create => create.Action("Create", "Allergies"))
          .Read(read => read.Action("Read", "Allergies"))
          .Update(update => update.Action("Update", "Allergies"))
          .Destroy(update => update.Action("Destroy", "Allergies"))
      ))

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>



