﻿@using e_Card.Areas.AdministrationClinic.ViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Grid<DiseasesVm>()
      .Name("disease")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name).Title(Resource.Title);
          columns.Bound(c => c.LatinName).Title("Latinski naziv");
          columns.Bound(c => c.Description).Title(Resource.Description).Filterable(false);
          columns.Bound(c => c.GeneticDisease).Title("Nasljedna bolest").ClientTemplate("<input type='checkbox' #= GeneticDisease ? 'checked= checked' : '' # disabled='disabled' ></input>");
          columns.Bound(c => c.InfectiousDisease).Title("Zarazna bolest").ClientTemplate("<input type='checkbox' #= InfectiousDisease ? 'checked= checked' : '' # disabled='disabled' ></input>"); ;
          columns.Command(command => { command.Edit().Text("Uredi").CancelText("Odustani").UpdateText("Spremi izmjene"); command.Destroy().Text("Izbriši"); }).Width(250);
      })
      .ToolBar(toolbar => toolbar.Create().Text("Dodaj bolest"))
      .Editable(editable => editable.TemplateName("_DiseaseEdit").Mode(GridEditMode.PopUp).Window(w => w.Width(430).Title("Bolesti")))
      .Pageable()
      .Sortable()
      .Filterable()
      .Scrollable(scrollable => scrollable.Height("auto"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(30)
          .Events(events => events.Error("error_handler"))
          .Model(model => model.Id(p => p.DiseasesId))
          .Create(create => create.Action("EditingPopup_Create", "Diseases"))
          .Read(read => read.Action("EditingPopup_Read", "Diseases"))
          .Update(update => update.Action("EditingPopup_Update", "Diseases"))
          .Destroy(update => update.Action("EditingPopup_Destroy", "Diseases"))
      ))

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

