﻿
@using Kendo.Mvc.UI
@model e_Card.ViewModel.PatientVm

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("PatientHandler", "Patients", new { status = Consts.Create }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12 toppad">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Registruj pacijenta</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group" id="userUrlImage" style="display: flex; justify-content: center;">
                            @*<img alt="User photo" src="" class="img-circle img-responsive userImageDimension">*@
                        </div>

                        <div class="col-md-12 col-xs-12">
                            @(Html.Kendo().Upload()
                                  .Name("image")
                                  .Async(a => a
                                      .Save("UploadImage", "Patients")
                                      .AutoUpload(false)
                                  )
                                  .Events(e => e.Success("SuccessUpload"))
                                  .HtmlAttributes(new { style = "width:100%" })
                                  .Validation(validation => validation.AllowedExtensions(new[] { ".gif", ".jpg", ".png" }))
                                  .Multiple(false)
                            )
                            @Html.ValidationMessageFor(m => m.UrlImage)
                            @Html.HiddenFor(m => m.UrlImage)
                        </div>
                    </div>


                    <div class="col-md-8 col-lg-8">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.Name">Ime</label>
                                            @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { style = "width:100%" })
                                            @Html.ValidationMessageFor(m => m.Name)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.Surname">Prezime</label>
                                            @Html.Kendo().TextBoxFor(m => m.Surname).HtmlAttributes(new { style = "width:100%" })
                                            @Html.ValidationMessageFor(m => m.Surname)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.Gender">Spol</label>
                                            @(Html.Kendo().DropDownList()
                                              .Name("Gender")
                                              .Value("")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .Text("Gender")
                                              .AutoBind(false)
                                              .BindTo(new List<SelectListItem>()
                                              {
                                                  new SelectListItem()
                                                  {
                                                      Text = "Male",
                                                      Value = "Male"
                                                  },
                                                  new SelectListItem()
                                                  {
                                                      Text = "Female",
                                                      Value = "Female"
                                                  },
                                              })
                                              .HtmlAttributes(new { style = "width: 100%" }))
                                            @Html.ValidationMessageFor(m => m.Gender)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.Birth">Datum rođenja</label>
                                            @(Html.Kendo().DatePicker()
                                              .Name("Birth")
                                              .Value("")
                                              .Animation(true)
                                              .HtmlAttributes(new { style = "width: 100%", title = "Invalid date" }))
                                            @Html.ValidationMessageFor(m => m.Birth)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.Nationality">Nacionalnost</label>
                                            @Html.Kendo().TextBoxFor(m => m.Nationality).HtmlAttributes(new { style = "width:100%" })
                                            @Html.ValidationMessageFor(m => m.Nationality)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.Jmbg">Matični broj</label>
                                            @Html.Kendo().TextBoxFor(m => m.Jmbg).HtmlAttributes(new { style = "width:100%" })
                                            @Html.ValidationMessageFor(m => m.Jmbg)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.Address">Adresa stanovanja</label>
                                            @Html.Kendo().TextBoxFor(m => m.Address).HtmlAttributes(new { style = "width:100%" })
                                            @Html.ValidationMessageFor(m => m.Address)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.Email">Email adresa</label>
                                            @Html.Kendo().TextBoxFor(m => m.Email).HtmlAttributes(new { type = "Email", style = "width:100%" })
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.Password">Lozinka</label>
                                            @Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { type = "password", style = "width:100%" })
                                            @Html.ValidationMessageFor(m => m.Password)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.Weight">Težina</label>
                                            @(Html.Kendo().NumericTextBoxFor(m => m.Weight)
                                              .Name("Weight")
                                              .Min(0)
                                              .Step(0.1)
                                              .Value(0)
                                              .HtmlAttributes(new { style = "width: 100%", title = "Weight value" })
                                            )
                                            @Html.ValidationMessageFor(m => m.Weight)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.Height">Visina</label>
                                            @(Html.Kendo().NumericTextBoxFor(m => m.Height)
                                              .Name("Height")
                                              .Min(0)
                                              .Step(0.1)
                                              .Value(0)
                                              .HtmlAttributes(new { style = "width: 100%", title = "Height value" })
                                            )
                                            @Html.ValidationMessageFor(m => m.Height)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.BloodType">Krvna grupa</label>
                                            @Html.Kendo().TextBoxFor(m => m.BloodType).HtmlAttributes(new { style = "width:100%" })
                                            @Html.ValidationMessageFor(m => m.BloodType)
                                        </div>
                                    </td>
                                </tr>
                                @*<tr>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.MedicamentIds">Lijekovi</label>
                                            @(Html.Kendo().MultiSelectFor(@m => m.MedicamentIds)
                                              .DataValueField("Id")
                                              .DataTextField("Name")
                                              .Events(e => e.Select("onSelect"))
                                              .Filter(FilterType.StartsWith)
                                              .DataSource(source =>
                                              {
                                                  source.Read(read =>
                                                  {
                                                      read.Action("GetAll", "Medicaments", new { area = "" });
                                                  }).ServerFiltering(true);
                                              })
                                              .AutoBind(true)
                                              .HtmlAttributes(new { style = "width:100%;" })
                                            )
                                            @Html.ValidationMessageFor(m => m.MedicamentIds)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12 col-xs-12">
                                            <label for="@Model.DiseaseIds">Bolesti</label>
                                            @(Html.Kendo().MultiSelectFor(@m => m.DiseaseIds)
                                              .DataValueField("Id")
                                              .DataTextField("Name")
                                              .Events(e => e.Select("onSelect"))
                                              .Filter(FilterType.StartsWith)
                                              .DataSource(source =>
                                              {
                                                  source.Read(read =>
                                                  {
                                                      read.Action("GetAll", "Diseases", new { area = "" });
                                                  }).ServerFiltering(true);
                                              })
                                              .AutoBind(true)
                                              .HtmlAttributes(new { style = "width:100%;" })
                                            )
                                            @Html.ValidationMessageFor(m => m.DiseaseIds)
                                        </div>
                                    </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                @(Html.Kendo().Button()
                      .Name("primaryTextButton")
                      .HtmlAttributes(new { type = "submit", @class = "k-primary" })
                      .Content("Kreiraj korisnika"))
            </div>

        </div>
    </div>
}



<script>
    function SuccessUpload(data) {
        if (data.response.success) {
            document.getElementById('UrlImage').value = data.response.name;
            //$("#userUrlImage")
            //    .html(
            //        '<img alt="User photo" src="/UserImages/' + data.response.name + '" class="img-circle img-responsive userImageDimension">'
            //        );
            $("#userUrlImage").css("background-image", 'url(/UserImages/' + data.response.name + ')');
        }
    }

    function onSelect(e) {

    }

    function onSaveItems(e) {
        e.model.set("LaboratoryReportIds", $("#LaboratoryReportIds").data("kendoMultiSelect").value());
    }
</script>

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

