﻿@using e_Card.ViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Grid<PatientVm>()
      .Name("patients")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name).Title(Resource.Title);
          columns.Bound(c => c.Surname).Title(Resource.Surname);
          columns.Bound(c => c.Gender).Title(Resource.Gender);
          columns.Bound(c => c.Birth).Title(Resource.Birth);
          columns.Bound(c => c.Address).Title(Resource.Address);
          columns.Bound(c => c.BloodType).Title("Krvna grupa");
          columns.Bound(c => c.Jmbg).Title("Matični broj");
          columns.Bound(c => c.Height).Title("Visina");
          columns.Bound(c => c.Weight).Title("Težina");
          columns.Template(@<text></text>).ClientTemplate("<a class='k-button k-button-icontext' href='" + Url.Action("Update", "Patients", new { id = "#= PatientId #" }) + "'><span class='k-icon  k-i-edit'></span>Uredi</a>");
          columns.Command(c => c.Destroy().Text("Izbriši"));
      })

      //.ToolBar(toolbar => toolbar.Create().Text("Dodaj bolest"))
      .ToolBar(t =>
      {
          t.Template(@<text>
                         <a class="k-button k-button-icontext" href="@Url.Action("Create", "Patients")"><i class="fa fa-plus"></i>Dodaj pacijenta</a>
                      </text>);
      })
      //.Editable(editable => editable.TemplateName("_EditDoctor").Mode(GridEditMode.PopUp).Window(w => w.Width(430)))
      .Pageable()
      .Sortable()
      .Filterable()
      .Scrollable(scrollable => scrollable.Height("auto"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(30)
          .Events(events => events.Error("error_handler"))
          .Model(model => model.Id(p => p.PatientId))
          .Create(create => create.Action("DoctorHandler", "Doctors", new {status = Consts.Create}))
          .Read(read => read.Action("Read", "Patients"))
      //.Update(update => update.Action("DoctorHandler", "Doctors", new { status = Consts.Update }))
      .Destroy(update => update.Action("PatientHandler", "Patients", new { status = Consts.Delete }))
      ))

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

<script>
    $(function() {
        if ('@User.IsInRole("Doctor")' === 'True') {
            $(".k-grid-toolbar").remove();
        }
    })
</script>