﻿@using Kendo.Mvc.UI
@model e_Card.Areas.AdministrationClinic.ViewModel.LaboratoryVm

<div class="form-horizontal container" style="padding: 15px;">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.Name">@Resource.Title</label>
            @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new {style = "width:100%"})
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.Description">@Resource.Description</label>
            @Html.Kendo().TextBoxFor(m => m.Description).HtmlAttributes(new {style = "width:100%"})
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.ClinicId">Klinika</label>
            @(Html.Kendo().ComboBoxFor(@m => m.ClinicId)
                  .DataValueField("Id")
                  .DataTextField("Name")
                  .Events(e => e.Select("onSelect"))
                  .Filter(FilterType.StartsWith)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("GetAll", "Clinics", new {area = ""});
                      }).ServerFiltering(true);
                  })
                  .AutoBind(true)
                  .HtmlAttributes(new {style = "width:100%;"})
                  )
            @Html.ValidationMessageFor(m => m.ClinicId)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @(Html.Kendo().MultiSelectFor(m => m.LaboratoryReportIds)
                  .DataTextField("Name")
                  .DataValueField("Id")
                  .Placeholder("Select items...")
                  .AutoBind(true)
                  .DataSource(source =>
                  {
                      source.Read(read => { read.Action("GetAll", "LabItems", new { area = "" }); })
                          .ServerFiltering(true);
                  })
                  .HtmlAttributes(new { style = "width:100%;" })
            )
            @Html.ValidationMessageFor(m => m.LaboratoryReportIds)
        </div>
    </div>
</div>

