﻿@model e_Card.ViewModel.RequestVm

    @using (Ajax.BeginForm("CreateRequest", null, "Home", new AjaxOptions
    {
        HttpMethod = "post",
        OnComplete = "CompleteRequest"
    }, new {id = "createRequestForm"}))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="clinics">Klinika</label>
                @(Html.Kendo().ComboBoxFor(m => m.ClinicId)
                      .HtmlAttributes(new { style = "width:100%;" })
                      .DataTextField("Name")
                      .DataValueField("Id")
                      .Value("")
                      .Filter(FilterType.Contains)
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetAll", "Clinics");
                          });
                      })
                )
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="department">Odjel </label>
                @(Html.Kendo().ComboBoxFor(m => m.DepartmentId)
                      .HtmlAttributes(new { style = "width:100%;" })
                      .DataTextField("Name")
                      .DataValueField("Id")
                      .Value("")
                      .Filter(FilterType.Contains)
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetCascadeDepartment", "Departments")
                                  .Data("filterDepartment");
                          })
                              .ServerFiltering(true);
                      })
                      .Enable(false)
                      .AutoBind(false)
                      .CascadeFrom("ClinicId")
                      )
                @Html.ValidationMessageFor(m => m.DepartmentId)
            </div>
            <script>
                function filterDepartment() {
                    return {
                        clinicId: $("#ClinicId").val(),
                        clinicText: $("#DepartmentId").data("kendoComboBox").input.val()
                    };
                }
            </script>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.Description">Opis</label>
                @Html.TextAreaFor(m => m.Description, new {@class = "k-textbox", style = "width: 100%;"})
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.ShortDescription">Kratak opis</label>
                @Html.TextAreaFor(m => m.ShortDescription, new {@class = "k-textbox", style = "width: 100%;"})
                @Html.ValidationMessageFor(m => m.ShortDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.PreferedDate">Željeni datum</label>
                @(Html.Kendo().DatePickerFor(m => m.PreferedDate)
                      .Value(DateTime.Now)
                      .Animation(true)
                      .HtmlAttributes(new {style = "width: 100%", title = "Invalid date"}))
                @Html.ValidationMessageFor(m => m.PreferedDate)
            </div>
        </div>

        

        <div style="text-align: right; margin-right: 15px;">
            @(Html.Kendo().Button()
                  .Name("sendRequest")
                  .HtmlAttributes(new {type = "submit", @class = "k-primary"})
                  .Content("Pošalji zahtjev"))
        </div>
    }