﻿@model e_Card.ViewModel.AllergieVm

@using (Ajax.BeginForm("CreateAllergie", null, "Home", new AjaxOptions
{
    HttpMethod = "post",
    OnComplete = "CompleteAllergie"
}, new {id = "createAllergieForm"}))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.PatientId)

    <div class="form-horizontal" style="padding: 15px;">
        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.Name">Naziv alergije</label>
                @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new {style = "width:100%"})
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.Description">Komentar</label>
                @Html.Kendo().TextBoxFor(m => m.Description).HtmlAttributes(new {style = "width:100%"})
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.DateFromAllergie">Početak alergije</label>
                @(Html.Kendo().DatePicker()
                      .Name("DateFromAllergie")
                      .Value(DateTime.Now)
                      .HtmlAttributes(new {style = "width: 100%", title = "Invalid date"}))
                @Html.ValidationMessageFor(m => m.DateFromAllergie)
            </div>
        </div>
    </div>

    <div style="text-align: right; margin-right: 15px;">
        @(Html.Kendo().Button()
              .Name("sendAllergie")
              .HtmlAttributes(new {type = "submit", @class = "k-primary"})
              .Content("Dodaj alergiju"))
    </div>
}