﻿@model e_Card.ViewModel.RequestTherapyVm

@using (Ajax.BeginForm("CreateRequestTherapy", null, "Home", new AjaxOptions
{
    HttpMethod = "post",
    OnComplete = "CompleteRequestTherapy"
}, new {id = "createRequestTherapyForm"}))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ReviewId)
    @Html.HiddenFor(m => m.PatientId)
    <div class="form-horizontal" style="padding: 15px;">
        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.TherapyName">Naziv terapije</label>
                @Html.Kendo().TextBoxFor(m => m.TherapyName).HtmlAttributes(new {style = "width:100%"})
                @Html.ValidationMessageFor(m => m.TherapyName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.Description">Opis</label>
                @Html.Kendo().TextBoxFor(m => m.Description).HtmlAttributes(new {style = "width:100%"})
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.DiseaseId">Bolest</label>
                @(Html.Kendo().ComboBoxFor(@m => m.DiseaseId)
                      .DataValueField("Id")
                      .DataTextField("Name")
                      .Filter(FilterType.StartsWith)
                      .Value("")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetAll", "Diseases", new {area = ""});
                          }).ServerFiltering(true);
                      })
                      .AutoBind(true)
                      .HtmlAttributes(new {style = "width:100%;"})
                      )
                @Html.ValidationMessageFor(m => m.DiseaseId)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.DateFrom">Početak početka </label>
                @(Html.Kendo().DatePicker()
                      .Name("DateFrom")
                      .Value(DateTime.Now)
                      .HtmlAttributes(new {style = "width: 100%", title = "Invalid date"}))
                @Html.ValidationMessageFor(m => m.DateFrom)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.DateTo">Datum prestanka</label>
                @(Html.Kendo().DatePicker()
                      .Name("DateTo")
                      .Value("")
                      .HtmlAttributes(new {style = "width: 100%", title = "Invalid date"}))
                @Html.ValidationMessageFor(m => m.DateTo)
            </div>
        </div>
    </div>

    <div style="text-align: right; margin-right: 15px;">
        @(Html.Kendo().Button()
              .Name("sendTherapy")
              .HtmlAttributes(new {type = "submit", @class = "k-primary"})
              .Content("Kreiraj zahtjev za terapiju"))
    </div>
}