﻿@model e_Card.ViewModel.PercriptionVm


@using (Ajax.BeginForm("CreatePerscription", null, "Home", new AjaxOptions
{
    HttpMethod = "post",
    OnComplete = "CompleteRequest"
}, new {id = "createPercriptionForm"}))
{
    @Html.ValidationSummary(true)
    <div class="form-horizontal" style="padding: 15px;">
        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.ConsumptionWay">Način uzimanja</label>
                @Html.Kendo().TextBoxFor(m => m.ConsumptionWay).HtmlAttributes(new {style = "width:100%"})
                @Html.ValidationMessageFor(m => m.ConsumptionWay)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.Quantity">Količina</label>
                @(Html.Kendo().NumericTextBoxFor(m => m.Quantity)
                      .Name("Quantity")
                      .Min(1)
                      .Step(1)
                      .Value(1)
                      .HtmlAttributes(new {style = "width: 100%", title = "Quantity" })
                      )
                @Html.ValidationMessageFor(m => m.Quantity)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.MedicamentId">Lijek</label>
                @(Html.Kendo().ComboBoxFor(@m => m.MedicamentId)
                      .DataValueField("Id")
                      .DataTextField("Name")
                      .Filter(FilterType.StartsWith)
                      .Value("")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetAll", "Medicaments", new {area = ""});
                          }).ServerFiltering(true);
                      })
                      .AutoBind(true)
                      .HtmlAttributes(new {style = "width:100%;"})
                      )
                @Html.ValidationMessageFor(m => m.MedicamentId)
            </div>

            @Html.HiddenFor(m => m.ReviewId)
            @Html.HiddenFor(m => m.PatientId)
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.Note">Napomena za lijek</label>
                @Html.Kendo().TextBoxFor(m => m.Note).HtmlAttributes(new {style = "width:100%"})
                @Html.ValidationMessageFor(m => m.Note)
            </div>
        </div>
    </div>

    <div style="text-align: right; margin-right: 15px;">
        @(Html.Kendo().Button()
              .Name("sendPerscription")
              .HtmlAttributes(new {type = "submit", @class = "k-primary"})
              .Content("Kreiraj recept"))
    </div>
}

