﻿@using e_Card.ViewModel
@model e_Card.ViewModel.LaboratoryRequestVm


@using (Ajax.BeginForm("CreateLaboratoryRequest", null, "Home", new AjaxOptions
{
    HttpMethod = "post",
    OnComplete = "CompleteLaboratoryRequest"
}, new { id = "createLaboratoryRequestForm" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.PatientId)
    @Html.HiddenFor(m => m.ReviewId)

    <div class="form-horizontal" style="padding: 15px;">

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.LaboratoryId">Laboratorija</label>
                @(Html.Kendo().ComboBoxFor(m => m.LaboratoryId)
                      .DataTextField("Name")
                      .DataValueField("Id")
                      .AutoBind(true)
                      .Value("")
                      .Events(e => e.Select("onSelectLab"))
                      .DataSource(source =>
                      {
                          source.Read(read => { read.Action("GetLaboratories", "Laboratories", new {area = ""}); })
                              .ServerFiltering(true);
                      })
                      .HtmlAttributes(new {style = "width:100%;"})
                      )
                @Html.ValidationMessageFor(m => m.LaboratoryId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.CommentDoctor">Komentar doktora</label>
                @Html.Kendo().TextBoxFor(m => m.CommentDoctor).HtmlAttributes(new { style = "width:100%"})
                @Html.ValidationMessageFor(m => m.CommentDoctor)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <label for="@Model.LaboratoryReportIds">Nalazi</label>
                @(Html.Kendo().MultiSelectFor(m => m.LaboratoryReportIds)
                      .DataTextField("Name")
                      .DataValueField("Id")
                      .AutoBind(true)
                      .DataSource(source =>
                      {
                          source.Read(read => { read.Action("CascadeLabItems", "LabItems", new {area = ""}).Data("getLabItems"); })
                              .ServerFiltering(true);
                      })
                      .HtmlAttributes(new {style = "width:100%;"})
                      )
                @Html.ValidationMessageFor(m => m.LaboratoryReportIds)
            </div>
        </div>
    </div>

    <div style="text-align: right; margin-right: 15px;">
        @(Html.Kendo().Button().Name("requestLab")
              .HtmlAttributes(new {type = "submit", @class = "k-primary"})
              .Content("Kreiraj zahtjev"))
    </div>
   
}
