﻿@model e_Card.ViewModel.DiagnosisVm


<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Dijagnoza</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            @using (Ajax.BeginForm("CreateDiagnosis", null, "Home", new AjaxOptions
            {
                HttpMethod = "post",
                OnComplete = "CompleteDiagnosis"
            }, new {id = "createDiagnosisForm"}))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()

                <div class="form-horizontal" style="padding: 15px;">

                    @Html.HiddenFor(m => m.ReviewId)
                    @Html.HiddenFor(m => m.PatientId)

                    <div class="form-group">
                        <div class="col-md-12 col-xs-12">
                            <label for="@Model.DiseaseDiagnosisId">Bolest</label>
                            @(Html.Kendo().ComboBoxFor(@m => m.DiseaseDiagnosisId)
                                  .DataValueField("Id")
                                  .DataTextField("Name")
                                  .Filter(FilterType.StartsWith)
                                  .Value("")
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("GetAll", "Diseases", new {area = ""});
                                      }).ServerFiltering(true);
                                  })
                                  .AutoBind(true)
                                  .HtmlAttributes(new {style = "width:100%;"})
                                  )
                            @Html.ValidationMessageFor(m => m.DiseaseDiagnosisId)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 col-xs-12">
                            <label for="@Model.Description">Opis</label>
                            @Html.Kendo().TextBoxFor(m => m.Description).HtmlAttributes(new {style = "width:100%"})
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 col-xs-12">
                            <label for="@Model.ClinicalStatus">Kliničko stanje</label>
                            @Html.Kendo().TextBoxFor(m => m.ClinicalStatus).HtmlAttributes(new {style = "width:100%"})
                            @Html.ValidationMessageFor(m => m.ClinicalStatus)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 col-xs-12">
                            <label for="@Model.Advice">Savjet ljekara</label>
                            @Html.Kendo().TextBoxFor(m => m.Advice).HtmlAttributes(new {style = "width:100%"})
                            @Html.ValidationMessageFor(m => m.Advice)
                        </div>
                    </div>
                  
                </div>

                <div style="text-align: right; margin-right: 15px;">
                    @(Html.Kendo().Button()
                          .Name("sendDiagnose")
                          .HtmlAttributes(new {type = "submit", @class = "k-primary"})
                          .Content("Dodaj dijagnozu"))
                </div>
            }
        </div>
        <!-- /.box-body -->
      
    </div>
    <!-- /.box -->
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Terapije</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            @Html.Partial("_CreateTherapyRequest", Model.RequestTherapyVm)
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Alergije</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
           @Html.Partial("_CreateAllergies", Model.AllergieVm)
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

</section>