﻿@model System.Collections.Generic.List<e_Card.Models.CardMedicament>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Lijekovi</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tbody><tr>
                <th>Naziv</th>
                <th>Od</th>
                <th>Do</th>
                <th>Napomena</th>
            </tr>
           @if (Model != null)
           {
               foreach (var medicament in Model)
               {
                   <tr>
                       <td>@medicament.Medicament.Name</td>
                       <td>
                           @medicament.DateFrom.ToShortDateString()
                       </td>
                       <td>
                           @if (medicament.DateTo != null)
                           {
                               @medicament.DateTo.Value.ToShortDateString()
                           }
                       </td>
                       <td>@medicament.Comment</td>
                   </tr>
               }
           }
            </tbody></table>
    </div>
</div>