﻿@model System.Collections.Generic.List<e_Card.Models.RequestTherapy>

@if (Model != null)
{
   foreach (var item in Model)
    {
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <strong>Terapija: </strong> @item.Therapy.Name
                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body" style="">
                <div class="container">
                   @item.Description
                </div>
            </div>
            <div class="box-footer" style="">
                <strong>Bolest: </strong><span>@item.Diseases.Name</span><br/>
                <strong>Trajanje: </strong> <span>@item.DateFrom.ToShortDateString()</span> - <span> @item.DateTo.ToShortDateString()</span>
            </div>
        </div>
    }
}