﻿
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src='/signalr/js'></script>
<h2>Notifikacije</h2>
<div class="container">
    <input id="text1" type="text" />
    <input id="button1" type="button" value="Send" />
    
    <div class="notificationBalloon" id="container">
    </div>
</div>
@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    @*<script src="~/Scripts/jquery.signalR-2.1.0.min.js"></script>*@
    <!--SignalR script to update the chat page and send messages.-->
    <script type="text/javascript">
        $(function () {
            var proxy = $.connection.notificationHub;
            $("#button1").click(function () {
                proxy.server.sendNotifications($("#text1").val(), 1);
            });
            $.connection.hub.start();
        });
    </script>
    
    <script type="text/javascript">
        $(function () {
            var proxy = $.connection.notificationHub;
            proxy.client.receiveNotification = function (message, id) {
                $("#container").append('<div>' + message + '</div>');
            };
            $.connection.hub.start();
        });
    </script>
}

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

