﻿@using e_Card.ViewModel

@{
    ViewBag.Title = "DoctorDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Scheduler<TaskReviewVm>()
      .Name("scheduler")
      .Date(DateTime.Today)
      .StartTime(new DateTime(2013, 6, 13, 7, 00, 00))
      .EndTime(new DateTime(2013, 6, 13, 16, 00, 00))
      .Height(600)
      .Editable(false)
      .CurrentTimeMarker(m => m.UseLocalTimezone(true))
      .EventTemplate(
          "<div class='movie-template'>" +
          "<h3>#= title #</h3>" +
          //"<div class='patient-review' onclick=GoToPatientReview('#=RequestId#')>Pregledaj pacijenta</div>" +
          "<a href=\"/home/ReviewDashboard?requestId=#=RequestId#\">Pregledaj pacijenta</a>" +
          //"<a href = '"+@Url.Action("ReviewDashboard", "Home", new {requestId = @"#=RequestId#"}) +"'>Pregledaj pacijenta</a>" +
          "</div>")
      .Views(views =>
      {
          views.DayView();
          views.AgendaView();
      })
      .Editable(editable => {
          editable.TemplateName("CustomEditorTemplate");
      })
      .DataSource(d => d
          .Model(m =>
          {
              m.Id(f => f.TaskId);
              m.Field(f => f.Title).DefaultValue("No title");
              m.Id(f => f.DoctorId);
          })
          .Events(e => e.Error("error_handler"))
      .Read(r => r.Action("ReadReview", "TaskReview"))
      ))

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

<script>
    //$("#RequestId").val(17);
    @*function getRequestId() {
        return {
            requestId: @Model.RequestId
        }
    }*@

    function GoToPatientReview(requestId) {
        $.ajax({
            type: "get",
            url: '/Home/PatientReview/',
            data: { requestId : requestId},
            success: function(data) {
                
            }
        });
    }
</script>

<style>
    .movie-template img {
        float: left;
        margin: 0 8px;
    }
    .movie-template p {
        margin: 5px 0 0;
    }
    .movie-template h3 {
        padding: 0 8px 5px;
        font-size: 12px;
    }
    .movie-template a {
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
    }
    .k-state-hover .movie-template a,
    .movie-template a:hover {
        color: #000000;
    }

    body, h1, h2, h3
    {
        margin: 0px;
    }

    .patient-review {
        color: #1A1A1A;
    }

    .patient-review:hover {
        color: blue;
        cursor: pointer;
    }
</style>
