﻿@{ var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant(); }

@helper Selected(string c, string culture)
{
if (c == culture)
{
        @:checked="checked"
    }
}
@using (Html.BeginForm("SetCulture", "Home"))
{
    <fieldset>
        <legend>@Resource.Login</legend>
        <div class="control-group">
            <div class="controls">
                <label for="en-us">
                    <input name="culture" id="en-us" value="en-us" type="radio" @Selected("en-us", culture) /> English
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="bs-Latn-BA">
                    <input name="culture" id="bs-Latn-BA" value="bs-Latn-BA" type="radio" @Selected("bs-Latn-BA", culture) /> Bosanski
                </label>
            </div>
        </div>
    </fieldset>
}

<script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); // post form
            });

        })(jQuery);
</script>