﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@model e_Card.ViewModel.LaboratoryRequestVm
@{
    ViewBag.Title = "LaboratoryReportPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>
        ().FindById(HttpContext.Current.User.Identity.GetUserId());
}

<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                Labaratorijski nalaz
                <small class="pull-right">Datum: @DateTime.Now.ToShortDateString()</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <address>
                <strong>Labaratorija: </strong>@Model.Laboratory.Name <br/>
                <strong>Pacijent: </strong>@Model.Patient.FullName<br/>
                <strong>Laborant: </strong> @user.FullName <br/>
                <b>Broj zahtjeva: </b> #@Model.ReviewId
            </address>
        </div>
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Oznaka</th>
                    <th>Prosječna vrijednost</th>
                    <th>Maximalna vrijednost</th>
                    <th>Minimalna vrijednost</th>
                    <th>Izmjerena vrijednost</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.LaboratoryReports)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Label</td>
                        <td>@item.AverageValue</td>
                        <td>@item.MaxValue</td>
                        <td>@item.MinValue</td>
                        <td><input class="items" id="@item.Id" value="0"/></td>
                        @*<td>@Html.TextBoxFor(m => m.LaboratoryReports[i++].)</td>*@
                    </tr>
                }
                </tbody>
            </table>
            <div class="col-md-6">
                <label for="Comment">Komentar</label>
                <textarea id="Comment" cols="20" rows="3" style="width: 100%"></textarea>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <div class="row no-print">
        <div class="col-xs-12">
            @(Html.Kendo().Button()
                  .Name("primaryTextButton")
                  .HtmlAttributes(new {type = "button", @class = "k-primary pull-right", id="labReportBtn"})
                  .Content("Završi pregled"))
        </div>
    </div>
</section>

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

<script>
    var objs = new Array();
    $("#labReportBtn").click(function() {
        $(".items").each(function() {
            var obj = {
                id: $(this).attr("id"),
                value: $(this).val()
            };
            objs.push(obj);
        });


        objs = JSON.stringify({ 'objs': objs, s: $("#Comment").val(), id: '@Model.LaboratoryRequestId'});
        console.log(objs);

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '/Home/PassReports',
            data: objs,
            traditional: true,
            success: function () {
                window.location.href = '/Home/DeleteRequest/?id=' + '@Model.LaboratoryRequestId';
                //$('#result').html('"PassThings()" successfully called.');
            },
            failure: function(response) {
               // $('#result').html(response);
            }
        });
    });

</script>
