﻿@using e_Card.ViewModel

@{
    ViewBag.Title = "LaboratoryDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Grid<LaboratoryRequestVm>()
      .Name("laboratory")
      .Columns(columns =>
      {
          columns.Bound(c => c.Patient.FullName).Title("Ime pacijenta");
          columns.Bound(c => c.Patient.Jmbg).Title("Matični broj");
          columns.Bound(c => c.CommentDoctor).Title("Komentar").Filterable(false);
          columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("GoToLaboratoryRequest", "Home") + "/?requestId=#=LaboratoryRequestId#'>Pregledaj</a>");
      })
      .Pageable()
      .Sortable()
      .Filterable()
      .Scrollable(scrollable => scrollable.Height("auto"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(100)
          .Events(events => events.Error("error_handler"))
          .Model(model => model.Id(p => p.ReviewId))
          //.Create(create => create.Action("EditingPopup_Create", "Diseases"))
          .Read(read => read.Action("GetLaboratoryRequest", "Home"))
          //.Update(update => update.Action("EditingPopup_Update", "Diseases"))
          //.Destroy(update => update.Action("EditingPopup_Destroy", "Diseases"))
      ))

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

<script>
    function detailsView(e) {
        var data = this.dataItem($(e.currentTarget).closest("tr"));
        console.log(data);
        $.ajax({
            type: 'GET',
            url: '/home/GoToLaboratoryRequest',
            data: { requestId: data.id },
            success: function() {
                
            },
            error: function(e) {
                alert(e.message);
            }
        });
    }
</script>

