﻿@using e_Card.ViewModel
@model PatientReviewVm
@{
    ViewBag.Title = "PatientReview";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
<div class="col-md-3">

    <!-- Profile Image -->
    <div class="box box-primary">
        <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="/UserImages/@Model.Patient.UrlImage" alt ="User profile picture">

            <h3 class="profile-username text-center">@Model.Patient.FullName</h3>
        </div>
        <!-- /.box-body -->
    </div>
   
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Osnovne informacije</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            @*<strong><i class="fa fa-book margin-r-5"></i> Education</strong>*@
            <strong><i class="fa fa-map-marker margin-r-5"></i> Adresa prebivališta</strong>
            <p class="text-muted">@Model.Patient.Address</p>
            <hr>
            <strong><i class="fa fa-hospital-o margin-r-5"></i> JMBG</strong>
            <p class="text-muted">@Model.Patient.Jmbg</p>
            <hr>
            <strong><i class="fa fa-heart margin-r-5"></i>Krvna grupa</strong>
            <p class="text-muted">@Model.Patient.BloodType</p>
            <hr>
            <strong><i class="fa  fa-user-md margin-r-5"></i>Visina</strong>
            <p class="text-muted">@Model.Patient.Height</p>
            <hr>
            <strong><i class="fa  fa-user-md margin-r-5"></i>Težina</strong>
            <p class="text-muted">@Model.Patient.Weight</p>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
<!-- /.col -->
<div class="col-md-9">
<div class="nav-tabs-custom">
<ul class="nav nav-tabs">
    <li class="active"><a href="#activity" data-toggle="tab">Nalaz</a></li>
    <li><a href="#laboratory" data-toggle="tab">Labaratorija</a></li>
    <li><a href="#perscription" data-toggle="tab">Recepti</a></li>
    <li><a href="#diagnosis" data-toggle="tab">Dijagnoza</a></li>
</ul>
<div class="tab-content">
<div class="active tab-pane" id="activity">
    <section>
        
        <div>

            @(Html.Kendo().Editor()
                  .Name("editor")
                  .HtmlAttributes(new {style = "height:600px", aria_label = "editor"})
                  .StyleSheets(css => css
                      .Add(Url.Content("~/Content/Assets/AdminLTE.min.css"))
                      .Add(Url.Content("~/Content/bootstrap.css"))
                      .Add(Url.Content("~/Content/Assets/skin-blue.min.css"))
                  )
                  
                  .Pdf(pdf => pdf
                      .Margin(20, 20, 20, 20)
                      .PaperSize("A4")
                      .Title("Nalaz")
                      .ProxyURL(Url.Action("Pdf_Export_Save", "Home"))
                  )
                  .Tools(tools => tools.Pdf())
                  .Value(@<text>
                             <div class="row">
                                 <div class="col-xs-12">
                                     <h2 class="page-header">
                                         <i class="fa fa-globe"></i> Nalaz pacijenta @Model.Patient.Name
                                         <small class="pull-right">Datum: @DateTime.Now.ToShortDateString()</small>
                                     </h2>
                                 </div>
                             </div>
                             <table class="k-table"><tbody><tr style="height: 100%;"><td style="width: 50%;" data-role="resizable">
                                 Naziv klinike: <strong> @Model.Clinic.Name</strong><br>
                                 Address: @Model.Clinic.Address<br>
                                 Phone: @Model.Clinic.Phone<br>
                             </td><td style="width: 50%;">
                                 Pacijent: <strong> @Model.Patient.FullName</strong><br>
                                 Address: @Model.Patient.Address<br>
                                 Phone: @Model.Patient.PhoneNumber<br>
                             </td></tr></tbody></table>

                             <div style="font-size: 16px;">
                                 <strong>
                                     Dijagnoza:
                                 </strong>
                                 <br />
                                 <br/>
                                 <strong>
                                     Mišljenje:
                                 </strong>
                             </div>
                            
                          </text>)
                  .Resizable(resizable => resizable.Content(true).Toolbar(true))
                  )
            <!-- /.col -->
        </div>
        <div style="text-align: right; margin-top: 15px;">
            @(Html.Kendo().Button()
                  .Name("finish")
                  .HtmlAttributes(new {type = "submit", @class = "k-primary", onclick="finishReview("+@Model.ReviewId+")"})
                  .Content("Završi pregled"))
        </div>
    </section>
</div>
<!-- /.tab-pane -->
<div class="tab-pane" id="laboratory">
    @Html.Partial("_CreateLaboratoryRequest", Model.LaboratoryRequestVm)
    
    <div style="position: relative; top: -30px">
        <button type="button" class="btn btn-success" style="display: none;" requestId="" id="refreshResult" onclick="GetRequest()">Osvježi rezultate</button>
    </div>
    <div id="labResult">
        
    </div>
</div>
<!-- /.tab-pane -->

    <div class="tab-pane" id="perscription">
        @Html.Partial("_CreatePerscription", Model.PercriptionVm)
    </div>

    <div class="tab-pane" id="diagnosis">
       @Html.Partial("_CreateDiagnosis", Model.DiagnosisVm)
    </div>
    <!-- /.tab-pane -->
</div>
<!-- /.tab-content -->
</div>
<!-- /.nav-tabs-custom -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

<script>
    kendo.pdf.defineFont({
        "DejaVu Sans": "../Content/fonts/DejaVuSans.ttf",
        "DejaVu Sans|Bold": "../Content/fonts/DejaVuSans-Bold.ttf",
        "DejaVu Sans|Bold|Italic":"../Content/fonts/DejaVuSans-Oblique.ttf",
    });

    function CompleteRequest(data) {
        $("#createPercriptionForm")[0].reset();
        if (data.success) {
            var notification = $("#notification").data("kendoNotification");
            notification.show({
                    message: "Uspiješno ste kreirali recept"
                },
                "upload-success");
        }
    }

    function onSelectLab(e) {
        setTimeout(function () {
            $("#LaboratoryReportIds").data("kendoMultiSelect").dataSource.read();
        }, 500);
    }

    function getLabItems() {
        return {
            laboratoryId: $("#LaboratoryId").data("kendoComboBox").value()
        }
    }

    function GetRequest() {
        $.ajax( {
            type: 'GET',
            url: '/home/ReadAllRequest',
            data: { requestId: $("#refreshResult").attr("requestId") },
            success: function (data) {
                if (data.reports.length !== 0) {
                    for (var i = 0; i < data.reports.length; i++) {
                        for (var j = 0; j < data.reportsFromWorker.length; j++) {
                            $("#refreshResult").css("display", "none");
                            if (j === 0) {
                                $("#labResult").append('<p>Nalaz</p>');
                            }
                            if (data.reports[i].Id === data.reportsFromWorker[j].LaboratoryReportId) {
                                //$("#labResult").append('<p><strong>' +
                                //    data.reports[i].Name +
                                //    ': </strong><span>' +
                                //    data.reportsFromWorker[j].Value +
                                //    '</span></p>');
                                $("#labResult").append('<table class="table"><th>Naziv</th><th>Min</th><th>Max</th><th>Prosječna vrijednost</th><th>Izmjerena vrijednost</th><tr><td>' +
                                    data.reports[i].Name +
                                    '</td><td>' +
                                    data.reports[i].MinValue +
                                    '</td><td>' +
                                    data.reports[i].MaxValue +
                                    '</td><td>' +
                                    data.reports[i].AverageValue +
                                    '</td><td>' +
                                    data.reportsFromWorker[j].Value +
                                    '</td>' +
                                    '<tr></table>');
                            }
                        }
                    }
                }
            }
        });
    }

    function CompleteRequestTherapy(data) {
        $("#createRequestTherapyForm")[0].reset();
        if (data.success) {
            var notification = $("#notification").data("kendoNotification");
            notification.show({
                    message: "Uspiješno ste dodali zahtjev"
                },
                "upload-success");
            const result = JSON.parse(data.responseText);
            //var editor = $("#editor").data("kendoEditor");
            //var html = " <div style='font-size:16px;'> <strong>Terapije:</strong><p> " + result.name + " <span>"+result.dateFrom+"</span> <span>"+result.dateTo+"</span> </p></div> ";
            //editor.value(editor.value() + html);
        }
    }

    function CompleteAllergie(data) {
        if (data.success) {
            $("#createAllergieForm")[0].reset();
            var notification = $("#notification").data("kendoNotification");
            notification.show({
                    message: "Uspiješno ste dodali alergiju"
                },
                "upload-success");
        } else {
            var notification1 = $("#notification").data("kendoNotification");
            notification1.show({
                    message: "Dogodila se greška pokušajte ponovo"
                },
                "error");
        }
    }

    function CompleteDiagnosis(data) {

        if (data.success) {
            $("#createDiagnosisForm")[0].reset();
            var notification = $("#notification").data("kendoNotification");
            notification.show({
                    message: "Uspiješno ste dodali dijagnozu"
                },
                "upload-success");
        } else {
            var notification1 = $("#notification").data("kendoNotification");
            notification1.show({
                    message: "Dogodila se greška pokušajte ponovo"
                },
                "error");
        }
    }

    function CompleteLaboratoryRequest(data) {
        if (data.status == 200) {
            $("#createLaboratoryRequestForm")[0].reset();
            const data1 = JSON.parse(data.responseText);
            $("#refreshResult").show();
            $("#refreshResult").attr("requestId", data1.data.Id);
        }
    }

    function finishReview(reviewId) {
        alert(reviewId);
        window.location.href = '/Home/FinishReview/?reviewId=' + reviewId;
    }

    $("#createPercriptionForm").kendoValidator().data("kendoValidator");
    $("#createLaboratoryRequestForm").kendoValidator().data("kendoValidator");
    $("#createRequestTherapyForm").kendoValidator().data("kendoValidator");
    $("#createAllergieForm").kendoValidator().data("kendoValidator");
    $("#createDiagnosisForm").kendoValidator().data("kendoValidator");

</script>

<style>
    #labResult {
        position: relative;
        margin-top: 20px;
        margin-left: 15px;
    }

    #labResult th {
        width: 150px;
    }
</style>