﻿
@{
    ViewBag.Title = "PatientInterface";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
@model e_Card.ViewModel.PatientDashboardVm

<div class="row">
    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#activity" data-toggle="tab">Zakaži pregled</a></li>
                <li><a href="#settings" data-toggle="tab">Terapije</a></li>
                <li><a href="#medicaments" data-toggle="tab">Lijekovi</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="activity">
                    <div class="alert alert-success" id="successInfoRequest" style="display: none" ;>
                        <button id="closeAlert" class="close" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Zahtjev uspiješno poslat!</h4>
                        Poštovani, <br />
                        Vaš zahtjev za pregledom je uspiješno poslat, odmah nakon što Vaš zahtjev bude odobren dobit ćete obavijest na svom profilu.<br />
                        <br />
                        <strong>Napomena: </strong> Ukoliko datum koji ste naveli u zahtjevu ne bude slobodan, dobit ćete prvi naredni slobodni termin.
                    </div>
                    @Html.Partial("_CreateRequest", Model.RequestVm)
                </div>
                <div class="tab-pane" id="settings">
                    @Html.Partial("_therapyDashboard", Model.Therapies)
                </div>
                <div class="tab-pane" id="medicaments">
                    @Html.Partial("_medicamentsDashboard", Model.Medicamentses)
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#createRequestForm").kendoValidator().data("kendoValidator");

    function CompleteRequest(data) {
        if (data.success) {
            $("#successInfoRequest").fadeIn(200, function () { });
            $('#createRequestForm')[0].reset();
        }
    }

    $("#closeAlert").click(function (e) {
        e.preventDefault();
        $("#successInfoRequest").fadeOut(200, function () { });
    });

    $(function () {
        $("#patientImage").attr('src', $("#patientProfileImage").attr('src'));
        $("#smallUserImage").attr('src', $("#patientProfileImage").attr('src'));
        $("#patientNameNavbar").text($(".profile-username").text());
    });

</script>
<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src='/signalr/js'></script>
<script>
    $(function () {
        $.ajax({
            url: '/Home/GetNotification/',
            error: function (data) {
                alert(data.message);
            },
            success: function (data) {
                var len = 10;
                if (data.result.length < 10)
                    len = data.result.length;
                for (var i = len - 1; i >= 0; i--) {
                   
                    if (data.result[i].IsSeen === false) {
                        console.log(data.result[i].IsSeen);
                        $("#notificationPanel").prepend(
                            '<li class="notificationItem" notId="' +
                            data.result[i].Id +
                            '" style="background: aliceblue;"> <a href = "#"><h3 style="white-space: initial;">' +
                            data.result[i].Remark +
                            '<small class="pull-right newItem"> <strong style="color: black;">new</strong> </small>  </h3></a></li>');
                    } else {
                        $("#notificationPanel").prepend(
                            '<li class="notificationItem" notId="' +
                            data.result[i].Id +
                            '" style="background: aliceblue;"> <a href = "#"><h3 style="white-space: initial;">' +
                            data.result[i].Remark +' </h3></a></li>');
                    }
                }

                var count = 0;
                $(".notificationItem").each(function (index) {
                    if (data.result[--len].IsSeen === false) {
                        count = count + 1;
                    }
                });

                $("#CountNotification").html(count);
                $("#headerCount").html("Imate " + count + " notifikacija");

                $(".notificationItem").each(function () {
                    $(this).click(function () {

                        $.ajax({
                            type: 'post',
                            url: '/home/ReadNotification',
                            data: { id: $(this).attr("notId") },
                            success: function () {
                                $(this).css("background", "white");
                                $(this).find(".newItem").remove();
                                var count = parseInt($("#CountNotification").html());
                                if (count > 0) {
                                    var fCount = count - 1;
                                    $("#CountNotification").html(fCount);
                                }
                            }
                        });
                    });
                });
            },
            type: 'GET'
        });
    });
</script>

