﻿@using Kendo.Mvc.UI
@model e_Card.Areas.AdministrationClinic.ViewModel.TypeMedicamentsVm

<div class="form-horizontal container" style="padding: 15px;">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <label for="@Model.Name">@Resource.Title</label>
            @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { style = "width:100%" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
</div>

