﻿@using e_Card.Areas.AdministrationClinic.ViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@(Html.Kendo().Grid<LaboratoryWorkerVm>()
      .Name("laboratoryWorker")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name).Title(Resource.Title);
          columns.Bound(c => c.Surname).Title(Resource.Surname);
          columns.Bound(c => c.Gender).Title(Resource.Gender).Filterable(false);
          columns.Bound(c => c.Birth).Title(Resource.Birth).Filterable(false);
          columns.Bound(c => c.DateOfEmployment).Title("Datum zaposlenja");
          columns.Bound(c => c.Address).Title(Resource.Address).Filterable(false);
          columns.Template(@<text></text>).ClientTemplate("<a class='k-button k-button-icontext' href='" + Url.Action("Update", "LaboratoryWorkers", new { id = "#= LaboratoryWorkerId #" }) + "'><span class='k-icon  k-i-edit'></span>Update</a>");
          columns.Command(c => c.Destroy().Text("Izbriši"));
      })

      //.ToolBar(toolbar => toolbar.Create().Text("Dodaj bolest"))
      .ToolBar(t =>
      {
      t.Template(@<text>
                         <a class="k-button k-button-icontext" href="@Url.Action("Create", "LaboratoryWorkers")"><i class="fa fa-plus"></i>Dodaj laboranta</a>
                      </text>);
      })

      .Editable(editable => editable.TemplateName("_EditDoctor").Mode(GridEditMode.PopUp).Window(w => w.Width(430)))
      .Pageable()
      .Sortable()
      .Filterable()
      //.Events(e => e.Edit("onEdit"))
      .Scrollable(scrollable => scrollable.Height("auto"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(30)
          .Events(events => events.Error("error_handler"))
          .Model(model => model.Id(p => p.LaboratoryWorkerId))
          .Create(create => create.Action("LaboratoryWorkerHandler", "LaboratoryWorkers", new {status = Consts.Create}))
          .Read(read => read.Action("Read", "LaboratoryWorkers"))
          .Update(update => update.Action("LaboratoryWorkerHandler", "LaboratoryWorkers", new { status = Consts.Update }))
          .Destroy(update => update.Action("LaboratoryWorkerHandler", "LaboratoryWorkers", new { status = Consts.Delete }))
      ))

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="@Url.Content("~/Images/errorIcon.png")" />
        <p>#= message #</p>
    </div>
</script>

